swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: PolicyStatesClient
  version: 2017-12-12-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2017-12-12-preview/policyStates.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: policyinsights-policyStates
  x-tags:
    - Azure
    - Microsoft
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: API version to use with the client requests.
    in: query
    name: api-version
    required: true
    type: string
    x-ms-parameter-location: client
  applyParameter:
    description: OData apply expression for aggregations.
    in: query
    name: $apply
    required: false
    type: string
    x-ms-client-name: Apply
    x-ms-parameter-grouping:
      name: QueryOptions
    x-ms-parameter-location: method
  authorizationNamespaceParameter:
    description: The namespace for Microsoft Authorization resource provider; only "Microsoft.Authorization" is allowed.
    enum:
      - Microsoft.Authorization
    in: path
    name: authorizationNamespace
    required: true
    type: string
    x-ms-parameter-location: method
  filterParameter:
    description: OData filter expression.
    in: query
    name: $filter
    required: false
    type: string
    x-ms-client-name: Filter
    x-ms-parameter-grouping:
      name: QueryOptions
    x-ms-parameter-location: method
  fromParameter:
    description: ISO 8601 formatted timestamp specifying the start time of the interval to query. When not specified, the service uses ($to - 1-day).
    format: date-time
    in: query
    name: $from
    required: false
    type: string
    x-ms-client-name: From
    x-ms-parameter-grouping:
      name: QueryOptions
    x-ms-parameter-location: method
  managementGroupNameParameter:
    description: Management group name.
    in: path
    name: managementGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  managementGroupsNamespaceParameter:
    description: The namespace for Microsoft Management RP; only "Microsoft.Management" is allowed.
    enum:
      - Microsoft.Management
    in: path
    name: managementGroupsNamespace
    required: true
    type: string
    x-ms-parameter-location: method
  orderByParameter:
    description: Ordering expression using OData notation. One or more comma-separated column names with an optional "desc" (the default) or "asc", e.g. "$orderby=PolicyAssignmentId, ResourceId asc".
    in: query
    name: $orderby
    required: false
    type: string
    x-ms-client-name: OrderBy
    x-ms-parameter-grouping:
      name: QueryOptions
    x-ms-parameter-location: method
  policyAssignmentNameParameter:
    description: Policy assignment name.
    in: path
    name: policyAssignmentName
    required: true
    type: string
    x-ms-parameter-location: method
  policyDefinitionNameParameter:
    description: Policy definition name.
    in: path
    name: policyDefinitionName
    required: true
    type: string
    x-ms-parameter-location: method
  policySetDefinitionNameParameter:
    description: Policy set definition name.
    in: path
    name: policySetDefinitionName
    required: true
    type: string
    x-ms-parameter-location: method
  policyStatesResourceParameter:
    description: The virtual resource under PolicyStates resource type. In a given time range, 'latest' represents the latest policy state(s), whereas 'default' represents all policy state(s).
    enum:
      - default
      - latest
    in: path
    name: policyStatesResource
    required: true
    type: string
    x-ms-enum:
      modelAsString: true
      name: PolicyStatesResource
    x-ms-parameter-location: method
  policyStatesSummaryResourceParameter:
    description: The virtual resource under PolicyStates resource type for summarize action. In a given time range, 'latest' represents the latest policy state(s) and is the only allowed value.
    enum:
      - latest
    in: path
    name: policyStatesSummaryResource
    required: true
    type: string
    x-ms-parameter-location: method
  resourceGroupNameParameter:
    description: Resource group name.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  resourceIdParameter:
    description: Resource ID.
    in: path
    name: resourceId
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  scopeParameter:
    description: A valid scope, i.e. management group, subscription, resource group, or resource ID. Scope used has no effect on metadata returned.
    in: path
    name: scope
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  selectParameter:
    description: Select expression using OData notation. Limits the columns on each record to just those requested, e.g. "$select=PolicyAssignmentId, ResourceId".
    in: query
    name: $select
    required: false
    type: string
    x-ms-client-name: Select
    x-ms-parameter-grouping:
      name: QueryOptions
    x-ms-parameter-location: method
  subscriptionIdParameter:
    description: Microsoft Azure subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
    x-ms-parameter-location: method
  toParameter:
    description: ISO 8601 formatted timestamp specifying the end time of the interval to query. When not specified, the service uses request time.
    format: date-time
    in: query
    name: $to
    required: false
    type: string
    x-ms-client-name: To
    x-ms-parameter-grouping:
      name: QueryOptions
    x-ms-parameter-location: method
  topParameter:
    description: Maximum number of records to return.
    format: int32
    in: query
    minimum: 0
    name: $top
    required: false
    type: integer
    x-ms-client-name: Top
    x-ms-parameter-grouping:
      name: QueryOptions
    x-ms-parameter-location: method
paths:
  /providers/Microsoft.PolicyInsights/operations:
    get:
      description: Lists available operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: List of available operations.
          schema:
            $ref: "#/definitions/OperationsListResults"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/QueryFailure"
      x-ms-examples:
        List operations:
          parameters:
            api-version: 2017-12-12-preview
          responses:
            "200":
              body:
                "@odata.count": 3
                value:
                  - display:
                      description: Query information about policy events.
                      operation: Query Policy Events
                      provider: Microsoft Policy Insights
                      resource: Policy Events
                    name: Microsoft.PolicyInsights/policyEvents/queryResults/action
                  - display:
                      description: Query information about policy states.
                      operation: Query Policy States
                      provider: Microsoft Policy Insights
                      resource: Policy States
                    name: Microsoft.PolicyInsights/policyStates/queryResults/action
                  - display:
                      description: Query summary information about policy latest states.
                      operation: Query Policy Latest States Summary
                      provider: Microsoft Policy Insights
                      resource: Policy States
                    name: Microsoft.PolicyInsights/policyStates/summarize/action
  "/providers/{managementGroupsNamespace}/managementGroups/{managementGroupName}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesResource}/queryResults":
    post:
      description: Queries policy states for the resources under the management group.
      operationId: PolicyStates_ListQueryResultsForManagementGroup
      parameters:
        - $ref: "#/parameters/policyStatesResourceParameter"
        - $ref: "#/parameters/managementGroupsNamespaceParameter"
        - $ref: "#/parameters/managementGroupNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/topParameter"
        - $ref: "#/parameters/orderByParameter"
        - $ref: "#/parameters/selectParameter"
        - $ref: "#/parameters/fromParameter"
        - $ref: "#/parameters/toParameter"
        - $ref: "#/parameters/filterParameter"
        - $ref: "#/parameters/applyParameter"
      responses:
        "200":
          description: Query results.
          schema:
            $ref: "#/definitions/PolicyStatesQueryResults"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/QueryFailure"
      x-ms-examples:
        Query latest at management group scope:
          parameters:
            api-version: 2017-12-12-preview
            managementGroupName: myManagementGroup
            managementGroupsNamespace: Microsoft.Management
            policyStatesResource: latest
          responses:
            "200":
              body:
                "@odata.context": https://management.azure.com/providers/Microsoft.Management/managementGroups/myManagementGroup/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest
                "@odata.count": 2
                value:
                  - "@odata.context": https://management.azure.com/providers/Microsoft.Management/managementGroups/myManagementGroup/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    effectiveParameters: null
                    isCompliant: false
                    managementGroupIds: myManagementGroup,fff988bf-fff1-ffff-fffb-fffcd011db47
                    policyAssignmentId: /providers/Microsoft.Management/managementGroups/myManagementGroup/providers/Microsoft.Authorization/policyAssignments/1ef5d536aec743a0aa801c1a
                    policyAssignmentName: 1ef5d536aec743a0aa801c1a
                    policyAssignmentOwner: tbd
                    policyAssignmentParameters: "{}"
                    policyAssignmentScope: /providers/Microsoft.Management/managementGroups/myManagementGroup
                    policyDefinitionAction: audit
                    policyDefinitionCategory: tbd
                    policyDefinitionId: /providers/Microsoft.Management/managementGroups/myManagementGroup/providers/Microsoft.Authorization/policyDefinitions/022d9357-5a90-46f7-9554-21d30ce4c32d
                    policyDefinitionName: 022d9357-5a90-46f7-9554-21d30ce4c32d
                    policyDefinitionReferenceId: "15521232277412542086"
                    policySetDefinitionCategory: null
                    policySetDefinitionId: /providers/Microsoft.Management/managementGroups/myManagementGroup/providers/Microsoft.Authorization/policySetDefinitions/335cefd2-ab16-430f-b364-974a170eb1d5
                    policySetDefinitionName: 335cefd2-ab16-430f-b364-974a170eb1d5
                    policySetDefinitionOwner: null
                    policySetDefinitionParameters: null
                    resourceGroup: myrg1
                    resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourceGroups/myrg1/providers/microsoft.insights/autoscalesettings/mytest1
                    resourceLocation: westus
                    resourceTags: tbd
                    resourceType: /microsoft.insights/autoscalesettings
                    subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
                    timestamp: 2018-02-09T17:41:47Z
                  - "@odata.context": https://management.azure.com/providers/Microsoft.Management/managementGroups/myManagementGroup/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    effectiveParameters: null
                    isCompliant: false
                    managementGroupIds: myManagementGroup,fff988bf-fff1-ffff-fffb-fffcd011db47
                    policyAssignmentId: /providers/Microsoft.Management/managementGroups/myManagementGroup/providers/Microsoft.Authorization/policyAssignments/186044306c044a1d8c0ff76c
                    policyAssignmentName: 186044306c044a1d8c0ff76c
                    policyAssignmentOwner: tbd
                    policyAssignmentParameters: '{"allowedLocations":{"value":["centralus"]}}'
                    policyAssignmentScope: /providers/Microsoft.Management/managementGroups/myManagementGroup
                    policyDefinitionAction: audit
                    policyDefinitionCategory: tbd
                    policyDefinitionId: /providers/Microsoft.Management/managementGroups/myManagementGroup/providers/Microsoft.Authorization/policyDefinitions/022d9357-5a90-46f7-9554-21d30ce4c32d
                    policyDefinitionName: 022d9357-5a90-46f7-9554-21d30ce4c32d
                    policyDefinitionReferenceId: ""
                    policySetDefinitionCategory: null
                    policySetDefinitionId: ""
                    policySetDefinitionName: ""
                    policySetDefinitionOwner: null
                    policySetDefinitionParameters: null
                    resourceGroup: myrg1
                    resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourceGroups/myrg1/providers/microsoft.insights/autoscalesettings/mytest1
                    resourceLocation: westus
                    resourceTags: tbd
                    resourceType: /microsoft.insights/autoscalesettings
                    subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
                    timestamp: 2018-02-09T17:41:47Z
  "/providers/{managementGroupsNamespace}/managementGroups/{managementGroupName}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesSummaryResource}/summarize":
    post:
      description: Summarizes policy states for the resources under the management group.
      operationId: PolicyStates_SummarizeForManagementGroup
      parameters:
        - $ref: "#/parameters/policyStatesSummaryResourceParameter"
        - $ref: "#/parameters/managementGroupsNamespaceParameter"
        - $ref: "#/parameters/managementGroupNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/topParameter"
        - $ref: "#/parameters/fromParameter"
        - $ref: "#/parameters/toParameter"
        - $ref: "#/parameters/filterParameter"
      responses:
        "200":
          description: Summarize results.
          schema:
            $ref: "#/definitions/SummarizeResults"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/QueryFailure"
      x-ms-examples:
        Summarize at management group scope:
          parameters:
            $filter: PolicyDefinitionAction eq 'deny' or PolicyDefinitionAction eq 'audit'
            $from: 2018-02-05T18:00:00Z
            $to: 2018-02-06T18:00:00Z
            $top: 0
            api-version: 2017-12-12-preview
            managementGroupName: myManagementGroup
            managementGroupsNamespace: Microsoft.Management
            policyStatesSummaryResource: latest
          responses:
            "200":
              body:
                "@odata.context": https://management.azure.com/providers/Microsoft.Management/managementGroups/myManagementGroup/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary
                "@odata.count": 1
                value:
                  - "@odata.context": https://management.azure.com/providers/Microsoft.Management/managementGroups/myManagementGroup/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary/$entity
                    "@odata.id": null
                    policyAssignments: []
                    results:
                      nonCompliantPolicies: 68
                      nonCompliantResources: 15410
                      queryResultsUri: https://management.azure.com/providers/Microsoft.Management/managementGroups/myManagementGroup/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$from=2018-02-05 18:00:00Z&$to=2018-02-06 18:00:00Z&$filter=(PolicyDefinitionAction eq 'deny' or PolicyDefinitionAction eq 'audit') and IsCompliant eq false
  "/subscriptions/{subscriptionId}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesResource}/queryResults":
    post:
      description: Queries policy states for the resources under the subscription.
      operationId: PolicyStates_ListQueryResultsForSubscription
      parameters:
        - $ref: "#/parameters/policyStatesResourceParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/topParameter"
        - $ref: "#/parameters/orderByParameter"
        - $ref: "#/parameters/selectParameter"
        - $ref: "#/parameters/fromParameter"
        - $ref: "#/parameters/toParameter"
        - $ref: "#/parameters/filterParameter"
        - $ref: "#/parameters/applyParameter"
      responses:
        "200":
          description: Query results.
          schema:
            $ref: "#/definitions/PolicyStatesQueryResults"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/QueryFailure"
      x-ms-examples:
        Filter and aggregate only:
          parameters:
            $apply: aggregate($count as NumDenyStates)
            $filter: PolicyDefinitionAction eq 'deny'
            $from: 2018-02-05T18:00:00Z
            api-version: 2017-12-12-preview
            policyStatesResource: latest
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body:
                "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest
                "@odata.count": 1
                value:
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    NumDenyStates: 6
        Filter and group with aggregate:
          parameters:
            $apply: groupby((PolicyAssignmentId, PolicyDefinitionId, PolicyDefinitionAction, ResourceId), aggregate($count as NumAuditDenyNonComplianceRecords))
            $filter: IsCompliant eq false and (PolicyDefinitionAction eq 'audit' or PolicyDefinitionAction eq 'deny')
            $from: 2018-02-05T18:00:00Z
            $orderby: NumAuditDenyNonComplianceRecords desc
            $top: 2
            api-version: 2017-12-12-preview
            policyStatesResource: latest
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body:
                "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest
                "@odata.count": 2
                value:
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    NumAuditDenyNonComplianceRecords: 10
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/e46af646ebdb461dba708e01
                    policyDefinitionAction: audit
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/c8b79b49-a579-4045-984e-1b249ab8b474
                    resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourcegroups/myrg/providers/microsoft.classiccompute/domainnames/myDomainName
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    NumAuditDenyNonComplianceRecords: 10
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/ddd8ef92e3714a5ea3d208c1
                    policyDefinitionAction: audit
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                    resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourcegroups/myrg/providers/microsoft.classiccompute/domainnames/myDomainName
        Filter and group without aggregate:
          parameters:
            $apply: groupby((PolicyAssignmentId, PolicyDefinitionId, PolicyDefinitionAction, ResourceId))
            $filter: IsCompliant eq false and (PolicyDefinitionAction ne 'audit' and PolicyDefinitionAction ne 'append')
            $from: 2018-01-05T18:00:00Z
            $top: 2
            api-version: 2017-12-12-preview
            policyStatesResource: latest
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body:
                "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest
                "@odata.count": 2
                value:
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/enable monitoring in azure security center
                    policyDefinitionAction: auditifnotexists
                    policyDefinitionId: /providers/microsoft.authorization/policydefinitions/44452482-524f-4bf4-b852-0bff7cc4a3ed
                    resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourcegroups/myrg/providers/microsoft.network/virtualnetworks/vnet
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/89b27f38-e9e4-4468-ab81-801c84b8c017
                    policyDefinitionAction: auditifnotexists
                    policyDefinitionId: /providers/microsoft.authorization/policydefinitions/44452482-524f-4bf4-b852-0bff7cc4a3ed
                    resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourcegroups/myrg/providers/microsoft.network/virtualnetworks/vnet
        Filter and multiple groups:
          parameters:
            $apply: groupby((PolicyAssignmentId, PolicySetDefinitionId, PolicyDefinitionId, PolicyDefinitionReferenceId, ResourceId))/groupby((PolicyAssignmentId, PolicySetDefinitionId, PolicyDefinitionId, PolicyDefinitionReferenceId), aggregate($count as NumNonCompliantResources))
            $filter: IsCompliant eq false
            $orderby: NumNonCompliantResources desc
            $top: 10
            api-version: 2017-12-12-preview
            policyStatesResource: latest
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body:
                "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest
                "@odata.count": 10
                value:
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    NumNonCompliantResources: 557
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/f4cc58b7db524a9799381531
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                    policyDefinitionReferenceId: "14799174781370023846"
                    policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/12b58873-e0f8-4b95-936c-86cbe7c9d697
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    NumNonCompliantResources: 557
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/f4cc58b7db524a9799381531
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                    policyDefinitionReferenceId: "1679708035638239273"
                    policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/12b58873-e0f8-4b95-936c-86cbe7c9d697
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    NumNonCompliantResources: 557
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/ddd8ef92e3714a5ea3d208c1
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                    policyDefinitionReferenceId: "14799174781370023846"
                    policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/12b58873-e0f8-4b95-936c-86cbe7c9d697
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    NumNonCompliantResources: 557
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/ddd8ef92e3714a5ea3d208c1
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                    policyDefinitionReferenceId: "1679708035638239273"
                    policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/12b58873-e0f8-4b95-936c-86cbe7c9d697
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    NumNonCompliantResources: 557
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/d9da7e80af6344ab9d342aa7
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                    policyDefinitionReferenceId: ""
                    policySetDefinitionId: ""
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    NumNonCompliantResources: 557
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/dcda79d769674aea8bfcaa49
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/c8b79b49-a579-4045-984e-1b249ab8b474
                    policyDefinitionReferenceId: ""
                    policySetDefinitionId: ""
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    NumNonCompliantResources: 552
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/3f3c4330183b4e218fe6fd29
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                    policyDefinitionReferenceId: ""
                    policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/3e3807c1-65c9-49e0-a406-82d8ae3e338c
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    NumNonCompliantResources: 544
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/e46af646ebdb461dba708e01
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/c8b79b49-a579-4045-984e-1b249ab8b474
                    policyDefinitionReferenceId: "8935913113203900114"
                    policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/a03db67e-a286-43c3-9098-b2da83d361ad
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    NumNonCompliantResources: 526
                    policyAssignmentId: /providers/microsoft.management/managementgroups/mymg/providers/microsoft.authorization/policyassignments/8174043a1e2849179635b874
                    policyDefinitionId: /providers/microsoft.management/managementgroups/mymg/providers/microsoft.authorization/policydefinitions/72c0c41a-c752-4bc0-9c61-0d6adc567066
                    policyDefinitionReferenceId: ""
                    policySetDefinitionId: ""
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    NumNonCompliantResources: 509
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/ddd8ef92e3714a5ea3d208c1
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/c8b79b49-a579-4045-984e-1b249ab8b474
                    policyDefinitionReferenceId: "2124621540977569058"
                    policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/12b58873-e0f8-4b95-936c-86cbe7c9d697
        Query latest at subscription scope:
          parameters:
            api-version: 2017-12-12-preview
            policyStatesResource: latest
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body:
                "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest
                "@odata.count": 2
                value:
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    effectiveParameters: null
                    isCompliant: false
                    managementGroupIds: mymg,fff988bf-fff1-ffff-fffb-fffcd011db47
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyAssignments/Enable Monitoring in Azure Security Center
                    policyAssignmentName: Enable Monitoring in Azure Security Center
                    policyAssignmentOwner: tbd
                    policyAssignmentParameters: "{}"
                    policyAssignmentScope: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852
                    policyDefinitionAction: AuditIfNotExists
                    policyDefinitionCategory: tbd
                    policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/9daedab3-fb2d-461e-b861-71790eead4f6
                    policyDefinitionName: 9daedab3-fb2d-461e-b861-71790eead4f6
                    policyDefinitionReferenceId: null
                    policySetDefinitionCategory: null
                    policySetDefinitionId: /providers/Microsoft.Authorization/policySetDefinitions/1f3afdf9-d0c9-4c3d-847f-89da613e70a8
                    policySetDefinitionName: 1f3afdf9-d0c9-4c3d-847f-89da613e70a8
                    policySetDefinitionOwner: null
                    policySetDefinitionParameters: null
                    resourceGroup: myrg1
                    resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourceGroups/myrg1/providers/Microsoft.Network/publicIPAddresses/mypubip1
                    resourceLocation: eastus
                    resourceTags: tbd
                    resourceType: /Microsoft.Network/publicIPAddresses
                    subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
                    timestamp: 2018-02-09T17:48:05Z
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    effectiveParameters: null
                    isCompliant: false
                    managementGroupIds: mymg,fff988bf-fff1-ffff-fffb-fffcd011db47
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyAssignments/9ac09b0657d942e5ad4041a6
                    policyAssignmentName: 9ac09b0657d942e5ad4041a6
                    policyAssignmentOwner: tbd
                    policyAssignmentParameters: "{}"
                    policyAssignmentScope: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852
                    policyDefinitionAction: AuditIfNotExists
                    policyDefinitionCategory: tbd
                    policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/9daedab3-fb2d-461e-b861-71790eead4f6
                    policyDefinitionName: 9daedab3-fb2d-461e-b861-71790eead4f6
                    policyDefinitionReferenceId: null
                    policySetDefinitionCategory: null
                    policySetDefinitionId: /providers/Microsoft.Authorization/policySetDefinitions/1f3afdf9-d0c9-4c3d-847f-89da613e70a8
                    policySetDefinitionName: 1f3afdf9-d0c9-4c3d-847f-89da613e70a8
                    policySetDefinitionOwner: null
                    policySetDefinitionParameters: null
                    resourceGroup: myrg1
                    resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourceGroups/myrg1/providers/Microsoft.Network/publicIPAddresses/mypubip1
                    resourceLocation: eastus
                    resourceTags: tbd
                    resourceType: /Microsoft.Network/publicIPAddresses
                    subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
                    timestamp: 2018-02-09T17:48:05Z
        "Time range; sort, select and limit":
          parameters:
            $from: 2018-02-05T18:00:00Z
            $orderby: Timestamp desc, PolicyAssignmentId asc, SubscriptionId asc, ResourceGroup asc, ResourceId
            $select: Timestamp, PolicyAssignmentId, PolicyDefinitionId, SubscriptionId, ResourceGroup, ResourceId
            $to: 2018-02-06T18:00:00Z
            $top: 2
            api-version: 2017-12-12-preview
            policyStatesResource: latest
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body:
                "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest
                "@odata.count": 2
                value:
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    policyAssignmentId: /providers/Microsoft.Management/managementGroups/8cb1e007-947f-423a-ad0c-7ab7dc7d0255/providers/Microsoft.Authorization/policyAssignments/1654a0254ab34920a60f94eb
                    policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/655cb504-bcee-4362-bd4c-402e6aa38759
                    resourceGroup: myrg1
                    resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourceGroups/myrg1/providers/Microsoft.Storage/storageAccounts/mysa1
                    subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
                    timestamp: 2018-02-06T17:58:00Z
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    policyAssignmentId: /providers/Microsoft.Management/managementGroups/8cb1e007-947f-423a-ad0c-7ab7dc7d0255/providers/Microsoft.Authorization/policyAssignments/1654a0254ab34920a60f94eb
                    policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/655cb504-bcee-4362-bd4c-402e6aa38759
                    resourceGroup: myrg2
                    resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourceGroups/myrg2/providers/Microsoft.Storage/storageAccounts/mysa2
                    subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
                    timestamp: 2018-02-06T17:58:00Z
  "/subscriptions/{subscriptionId}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesSummaryResource}/summarize":
    post:
      description: Summarizes policy states for the resources under the subscription.
      operationId: PolicyStates_SummarizeForSubscription
      parameters:
        - $ref: "#/parameters/policyStatesSummaryResourceParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/topParameter"
        - $ref: "#/parameters/fromParameter"
        - $ref: "#/parameters/toParameter"
        - $ref: "#/parameters/filterParameter"
      responses:
        "200":
          description: Summarize results.
          schema:
            $ref: "#/definitions/SummarizeResults"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/QueryFailure"
      x-ms-examples:
        Summarize at subscription scope:
          parameters:
            $top: 5
            api-version: 2017-12-12-preview
            policyStatesSummaryResource: latest
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body:
                "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary
                "@odata.count": 1
                value:
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary/$entity
                    "@odata.id": null
                    policyAssignments:
                      - policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/e46af646ebdb461dba708e01
                        policyDefinitions:
                          - effect: audit
                            policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/c8b79b49-a579-4045-984e-1b249ab8b474
                            results:
                              nonCompliantResources: 557
                              queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$from=2018-02-12 19:48:53Z&$to=2018-02-13 19:48:53Z&$filter=IsCompliant eq false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/e46af646ebdb461dba708e01' and PolicyDefinitionId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/c8b79b49-a579-4045-984e-1b249ab8b474'
                        policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/a03db67e-a286-43c3-9098-b2da83d361ad
                        results:
                          nonCompliantPolicies: 1
                          nonCompliantResources: 557
                          queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$from=2018-02-12 19:48:53Z&$to=2018-02-13 19:48:53Z&$filter=IsCompliant eq false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/e46af646ebdb461dba708e01'
                      - policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/d9da7e80af6344ab9d342aa7
                        policyDefinitions:
                          - effect: audit
                            policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                            results:
                              nonCompliantResources: 557
                              queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$from=2018-02-12 19:48:53Z&$to=2018-02-13 19:48:53Z&$filter=IsCompliant eq false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/d9da7e80af6344ab9d342aa7' and PolicyDefinitionId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1'
                        policySetDefinitionId: ""
                        results:
                          nonCompliantPolicies: 1
                          nonCompliantResources: 557
                          queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$from=2018-02-12 19:48:53Z&$to=2018-02-13 19:48:53Z&$filter=IsCompliant eq false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/d9da7e80af6344ab9d342aa7'
                      - policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/dcda79d769674aea8bfcaa49
                        policyDefinitions:
                          - effect: audit
                            policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/c8b79b49-a579-4045-984e-1b249ab8b474
                            results:
                              nonCompliantResources: 557
                              queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$from=2018-02-12 19:48:53Z&$to=2018-02-13 19:48:53Z&$filter=IsCompliant eq false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/dcda79d769674aea8bfcaa49' and PolicyDefinitionId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/c8b79b49-a579-4045-984e-1b249ab8b474'
                        policySetDefinitionId: ""
                        results:
                          nonCompliantPolicies: 1
                          nonCompliantResources: 557
                          queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$from=2018-02-12 19:48:53Z&$to=2018-02-13 19:48:53Z&$filter=IsCompliant eq false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/dcda79d769674aea8bfcaa49'
                      - policyAssignmentId: /providers/microsoft.management/managementgroups/myManagementGroup/providers/microsoft.authorization/policyassignments/1ef5d536aec743a0aa801c1a
                        policyDefinitions:
                          - effect: audit
                            policyDefinitionId: /providers/microsoft.management/managementgroups/myManagementGroup/providers/microsoft.authorization/policydefinitions/022d9357-5a90-46f7-9554-21d30ce4c32d
                            results:
                              nonCompliantResources: 557
                              queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$from=2018-02-12 19:48:53Z&$to=2018-02-13 19:48:53Z&$filter=IsCompliant eq false and PolicyAssignmentId eq '/providers/microsoft.management/managementgroups/myManagementGroup/providers/microsoft.authorization/policyassignments/1ef5d536aec743a0aa801c1a' and PolicyDefinitionId eq '/providers/microsoft.management/managementgroups/myManagementGroup/providers/microsoft.authorization/policydefinitions/022d9357-5a90-46f7-9554-21d30ce4c32d'
                        policySetDefinitionId: /providers/microsoft.management/managementgroups/myManagementGroup/providers/microsoft.authorization/policysetdefinitions/335cefd2-ab16-430f-b364-974a170eb1d5
                        results:
                          nonCompliantPolicies: 1
                          nonCompliantResources: 557
                          queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$from=2018-02-12 19:48:53Z&$to=2018-02-13 19:48:53Z&$filter=IsCompliant eq false and PolicyAssignmentId eq '/providers/microsoft.management/managementgroups/myManagementGroup/providers/microsoft.authorization/policyassignments/1ef5d536aec743a0aa801c1a'
                      - policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/3f3c4330183b4e218fe6fd29
                        policyDefinitions:
                          - effect: audit
                            policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                            results:
                              nonCompliantResources: 552
                              queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$from=2018-02-12 19:48:53Z&$to=2018-02-13 19:48:53Z&$filter=IsCompliant eq false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/3f3c4330183b4e218fe6fd29' and PolicyDefinitionId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1'
                          - effect: audit
                            policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/locationauditdefinition
                            results:
                              nonCompliantResources: 29
                              queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$from=2018-02-12 19:48:53Z&$to=2018-02-13 19:48:53Z&$filter=IsCompliant eq false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/3f3c4330183b4e218fe6fd29' and PolicyDefinitionId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/locationauditdefinition'
                          - effect: audit
                            policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/3e3807c1-65c9-49e0-a406-82d8ae3e3682
                            results:
                              nonCompliantResources: 2
                              queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$from=2018-02-12 19:48:53Z&$to=2018-02-13 19:48:53Z&$filter=IsCompliant eq false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/3f3c4330183b4e218fe6fd29' and PolicyDefinitionId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/3e3807c1-65c9-49e0-a406-82d8ae3e3682'
                        policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/3e3807c1-65c9-49e0-a406-82d8ae3e338c
                        results:
                          nonCompliantPolicies: 3
                          nonCompliantResources: 552
                          queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$from=2018-02-12 19:48:53Z&$to=2018-02-13 19:48:53Z&$filter=IsCompliant eq false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/3f3c4330183b4e218fe6fd29'
                    results:
                      nonCompliantPolicies: 40
                      nonCompliantResources: 619
                      queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$from=2018-02-12 19:48:53Z&$to=2018-02-13 19:48:53Z&$filter=IsCompliant eq false
  "/subscriptions/{subscriptionId}/providers/{authorizationNamespace}/policyAssignments/{policyAssignmentName}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesResource}/queryResults":
    post:
      description: Queries policy states for the subscription level policy assignment.
      operationId: PolicyStates_ListQueryResultsForSubscriptionLevelPolicyAssignment
      parameters:
        - $ref: "#/parameters/policyStatesResourceParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/authorizationNamespaceParameter"
        - $ref: "#/parameters/policyAssignmentNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/topParameter"
        - $ref: "#/parameters/orderByParameter"
        - $ref: "#/parameters/selectParameter"
        - $ref: "#/parameters/fromParameter"
        - $ref: "#/parameters/toParameter"
        - $ref: "#/parameters/filterParameter"
        - $ref: "#/parameters/applyParameter"
      responses:
        "200":
          description: Query results.
          schema:
            $ref: "#/definitions/PolicyStatesQueryResults"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/QueryFailure"
      x-ms-examples:
        Query latest at subscription level policy assignment scope:
          parameters:
            api-version: 2017-12-12-preview
            authorizationNamespace: Microsoft.Authorization
            policyAssignmentName: ec8f9645-8ecb-4abb-9c0b-5292f19d4003
            policyStatesResource: latest
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body:
                "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyAssignments/ec8f9645-8ecb-4abb-9c0b-5292f19d4003/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest
                "@odata.count": 2
                value:
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyAssignments/ec8f9645-8ecb-4abb-9c0b-5292f19d4003/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    effectiveParameters: null
                    isCompliant: false
                    managementGroupIds: mymg,fff988bf-fff1-ffff-fffb-fffcd011db47
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyAssignments/ec8f9645-8ecb-4abb-9c0b-5292f19d4003
                    policyAssignmentName: ec8f9645-8ecb-4abb-9c0b-5292f19d4003
                    policyAssignmentOwner: tbd
                    policyAssignmentParameters: '{"TAGNAME_1":{"value":"test"}}'
                    policyAssignmentScope: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852
                    policyDefinitionAction: audit
                    policyDefinitionCategory: tbd
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyDefinitions/c8b79b49-a579-4045-984e-1b249ab8b474
                    policyDefinitionName: c8b79b49-a579-4045-984e-1b249ab8b474
                    policyDefinitionReferenceId: "2124621540977569058"
                    policySetDefinitionCategory: null
                    policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policySetDefinitions/12b58873-e0f8-4b95-936c-86cbe7c9d697
                    policySetDefinitionName: 12b58873-e0f8-4b95-936c-86cbe7c9d697
                    policySetDefinitionOwner: null
                    policySetDefinitionParameters: null
                    resourceGroup: myResourceGroup
                    resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourceGroups/myResourceGroup/providers/Microsoft.Network/publicIPAddresses/my-ip-1
                    resourceLocation: eastus
                    resourceTags: tbd
                    resourceType: /Microsoft.Network/publicIPAddresses
                    subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
                    timestamp: 2018-02-13T00:45:19Z
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyAssignments/ec8f9645-8ecb-4abb-9c0b-5292f19d4003/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    effectiveParameters: null
                    isCompliant: false
                    managementGroupIds: mymg,fff988bf-fff1-ffff-fffb-fffcd011db47
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyAssignments/ec8f9645-8ecb-4abb-9c0b-5292f19d4003
                    policyAssignmentName: ec8f9645-8ecb-4abb-9c0b-5292f19d4003
                    policyAssignmentOwner: tbd
                    policyAssignmentParameters: '{"TAGNAME_1":{"value":"test"}}'
                    policyAssignmentScope: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852
                    policyDefinitionAction: audit
                    policyDefinitionCategory: tbd
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyDefinitions/24813039-7534-408a-9842-eb99f45721b1
                    policyDefinitionName: 24813039-7534-408a-9842-eb99f45721b1
                    policyDefinitionReferenceId: "14799174781370023846"
                    policySetDefinitionCategory: null
                    policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policySetDefinitions/12b58873-e0f8-4b95-936c-86cbe7c9d697
                    policySetDefinitionName: 12b58873-e0f8-4b95-936c-86cbe7c9d697
                    policySetDefinitionOwner: null
                    policySetDefinitionParameters: null
                    resourceGroup: myResourceGroup
                    resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourceGroups/myResourceGroup/providers/Microsoft.Network/publicIPAddresses/my-ip-1
                    resourceLocation: eastus
                    resourceTags: tbd
                    resourceType: /Microsoft.Network/publicIPAddresses
                    subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
                    timestamp: 2018-02-13T00:45:19Z
  "/subscriptions/{subscriptionId}/providers/{authorizationNamespace}/policyAssignments/{policyAssignmentName}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesSummaryResource}/summarize":
    post:
      description: Summarizes policy states for the subscription level policy assignment.
      operationId: PolicyStates_SummarizeForSubscriptionLevelPolicyAssignment
      parameters:
        - $ref: "#/parameters/policyStatesSummaryResourceParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/authorizationNamespaceParameter"
        - $ref: "#/parameters/policyAssignmentNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/topParameter"
        - $ref: "#/parameters/fromParameter"
        - $ref: "#/parameters/toParameter"
        - $ref: "#/parameters/filterParameter"
      responses:
        "200":
          description: Summarize results.
          schema:
            $ref: "#/definitions/SummarizeResults"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/QueryFailure"
      x-ms-examples:
        Summarize at policy assignment scope:
          parameters:
            api-version: 2017-12-12-preview
            authorizationNamespace: Microsoft.Authorization
            policyAssignmentName: ec8f9645-8ecb-4abb-9c0b-5292f19d4003
            policyStatesSummaryResource: latest
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body:
                "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/f4cc58b7db524a9799381531/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary
                "@odata.count": 1
                value:
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/f4cc58b7db524a9799381531/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary/$entity
                    "@odata.id": null
                    policyAssignments:
                      - policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/f4cc58b7db524a9799381531
                        policyDefinitions:
                          - effect: audit
                            policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/c8b79b49-a579-4045-984e-1b249ab8b474
                            results:
                              nonCompliantResources: 531
                              queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/f4cc58b7db524a9799381531/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$from=2018-02-12 20:09:24Z&$to=2018-02-13 20:09:24Z&$filter=IsCompliant eq false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/f4cc58b7db524a9799381531' and PolicyDefinitionId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/c8b79b49-a579-4045-984e-1b249ab8b474'
                          - effect: audit
                            policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                            results:
                              nonCompliantResources: 531
                              queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/f4cc58b7db524a9799381531/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$from=2018-02-12 20:09:24Z&$to=2018-02-13 20:09:24Z&$filter=IsCompliant eq false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/f4cc58b7db524a9799381531' and PolicyDefinitionId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1'
                          - effect: audit
                            policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/locationauditdefinition
                            results:
                              nonCompliantResources: 220
                              queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/f4cc58b7db524a9799381531/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$from=2018-02-12 20:09:24Z&$to=2018-02-13 20:09:24Z&$filter=IsCompliant eq false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/f4cc58b7db524a9799381531' and PolicyDefinitionId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/locationauditdefinition'
                          - effect: audit
                            policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/3e3807c1-65c9-49e0-a406-82d8ae3e3682
                            results:
                              nonCompliantResources: 54
                              queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/f4cc58b7db524a9799381531/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$from=2018-02-12 20:09:24Z&$to=2018-02-13 20:09:24Z&$filter=IsCompliant eq false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/f4cc58b7db524a9799381531' and PolicyDefinitionId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/3e3807c1-65c9-49e0-a406-82d8ae3e3682'
                        policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/12b58873-e0f8-4b95-936c-86cbe7c9d697
                        results:
                          nonCompliantPolicies: 4
                          nonCompliantResources: 531
                          queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/f4cc58b7db524a9799381531/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$from=2018-02-12 20:09:24Z&$to=2018-02-13 20:09:24Z&$filter=IsCompliant eq false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/f4cc58b7db524a9799381531'
                    results:
                      nonCompliantPolicies: 1
                      nonCompliantResources: 531
                      queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/f4cc58b7db524a9799381531/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$from=2018-02-12 20:09:24Z&$to=2018-02-13 20:09:24Z&$filter=IsCompliant eq false
  "/subscriptions/{subscriptionId}/providers/{authorizationNamespace}/policyDefinitions/{policyDefinitionName}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesResource}/queryResults":
    post:
      description: Queries policy states for the subscription level policy definition.
      operationId: PolicyStates_ListQueryResultsForPolicyDefinition
      parameters:
        - $ref: "#/parameters/policyStatesResourceParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/authorizationNamespaceParameter"
        - $ref: "#/parameters/policyDefinitionNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/topParameter"
        - $ref: "#/parameters/orderByParameter"
        - $ref: "#/parameters/selectParameter"
        - $ref: "#/parameters/fromParameter"
        - $ref: "#/parameters/toParameter"
        - $ref: "#/parameters/filterParameter"
        - $ref: "#/parameters/applyParameter"
      responses:
        "200":
          description: Query results.
          schema:
            $ref: "#/definitions/PolicyStatesQueryResults"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/QueryFailure"
      x-ms-examples:
        Query latest at subscription level policy definition scope:
          parameters:
            api-version: 2017-12-12-preview
            authorizationNamespace: Microsoft.Authorization
            policyDefinitionName: 24813039-7534-408a-9842-eb99f45721b1
            policyStatesResource: latest
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body:
                "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyDefinitions/24813039-7534-408a-9842-eb99f45721b1/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest
                "@odata.count": 2
                value:
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyDefinitions/24813039-7534-408a-9842-eb99f45721b1/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    effectiveParameters: null
                    isCompliant: false
                    managementGroupIds: mymg,fff988bf-fff1-ffff-fffb-fffcd011db47
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyAssignments/d9da7e80af6344ab9d342aa7
                    policyAssignmentName: d9da7e80af6344ab9d342aa7
                    policyAssignmentOwner: tbd
                    policyAssignmentParameters: '{"tagName":{"value":"MyTag"}}'
                    policyAssignmentScope: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852
                    policyDefinitionAction: audit
                    policyDefinitionCategory: tbd
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyDefinitions/24813039-7534-408a-9842-eb99f45721b1
                    policyDefinitionName: 24813039-7534-408a-9842-eb99f45721b1
                    policyDefinitionReferenceId: null
                    policySetDefinitionCategory: null
                    policySetDefinitionId: null
                    policySetDefinitionName: null
                    policySetDefinitionOwner: null
                    policySetDefinitionParameters: null
                    resourceGroup: myResourceGroup
                    resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourcegroups/myResourceGroup/providers/Microsoft.ServiceFabric/clusters/myCluster/applications/myApplication/services/myService
                    resourceLocation: eastus
                    resourceTags: tbd
                    resourceType: /Microsoft.ServiceFabric/clusters/applications/services
                    subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
                    timestamp: 2018-02-13T00:50:27Z
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyDefinitions/24813039-7534-408a-9842-eb99f45721b1/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    effectiveParameters: null
                    isCompliant: false
                    managementGroupIds: mymg,fff988bf-fff1-ffff-fffb-fffcd011db47
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyAssignments/d9da7e80af6344ab9d342aa7
                    policyAssignmentName: d9da7e80af6344ab9d342aa7
                    policyAssignmentOwner: tbd
                    policyAssignmentParameters: '{"tagName":{"value":"MyTag"}}'
                    policyAssignmentScope: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852
                    policyDefinitionAction: audit
                    policyDefinitionCategory: tbd
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyDefinitions/24813039-7534-408a-9842-eb99f45721b1
                    policyDefinitionName: 24813039-7534-408a-9842-eb99f45721b1
                    policyDefinitionReferenceId: null
                    policySetDefinitionCategory: null
                    policySetDefinitionId: null
                    policySetDefinitionName: null
                    policySetDefinitionOwner: null
                    policySetDefinitionParameters: null
                    resourceGroup: myResourceGroup
                    resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourcegroups/myResourceGroup/providers/Microsoft.ServiceFabric/clusters/myCluster/applications/myApplication/services/myService
                    resourceLocation: eastus
                    resourceTags: tbd
                    resourceType: /Microsoft.ServiceFabric/clusters/applications/services
                    subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
                    timestamp: 2018-02-13T00:50:27Z
  "/subscriptions/{subscriptionId}/providers/{authorizationNamespace}/policyDefinitions/{policyDefinitionName}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesSummaryResource}/summarize":
    post:
      description: Summarizes policy states for the subscription level policy definition.
      operationId: PolicyStates_SummarizeForPolicyDefinition
      parameters:
        - $ref: "#/parameters/policyStatesSummaryResourceParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/authorizationNamespaceParameter"
        - $ref: "#/parameters/policyDefinitionNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/topParameter"
        - $ref: "#/parameters/fromParameter"
        - $ref: "#/parameters/toParameter"
        - $ref: "#/parameters/filterParameter"
      responses:
        "200":
          description: Summarize results.
          schema:
            $ref: "#/definitions/SummarizeResults"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/QueryFailure"
      x-ms-examples:
        Summarize at policy definition scope:
          parameters:
            api-version: 2017-12-12-preview
            authorizationNamespace: Microsoft.Authorization
            policyDefinitionName: 24813039-7534-408a-9842-eb99f45721b1
            policyStatesSummaryResource: latest
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body:
                "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyDefinitions/24813039-7534-408a-9842-eb99f45721b1/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary
                "@odata.count": 1
                value:
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyDefinitions/24813039-7534-408a-9842-eb99f45721b1/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary/$entity
                    "@odata.id": null
                    policyAssignments:
                      - policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/d9da7e80af6344ab9d342aa7
                        policyDefinitions:
                          - effect: audit
                            policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                            results:
                              nonCompliantResources: 558
                              queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyDefinitions/24813039-7534-408a-9842-eb99f45721b1/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$from=2018-02-12 20:07:10Z&$to=2018-02-13 20:07:10Z&$filter=IsCompliant eq false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/d9da7e80af6344ab9d342aa7' and PolicyDefinitionId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1'
                        policySetDefinitionId: ""
                        results:
                          nonCompliantPolicies: 1
                          nonCompliantResources: 558
                          queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyDefinitions/24813039-7534-408a-9842-eb99f45721b1/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$from=2018-02-12 20:07:10Z&$to=2018-02-13 20:07:10Z&$filter=IsCompliant eq false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/d9da7e80af6344ab9d342aa7'
                      - policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/3f3c4330183b4e218fe6fd29
                        policyDefinitions:
                          - effect: audit
                            policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                            results:
                              nonCompliantResources: 553
                              queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyDefinitions/24813039-7534-408a-9842-eb99f45721b1/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$from=2018-02-12 20:07:10Z&$to=2018-02-13 20:07:10Z&$filter=IsCompliant eq false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/3f3c4330183b4e218fe6fd29' and PolicyDefinitionId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1'
                        policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/3e3807c1-65c9-49e0-a406-82d8ae3e338c
                        results:
                          nonCompliantPolicies: 1
                          nonCompliantResources: 553
                          queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyDefinitions/24813039-7534-408a-9842-eb99f45721b1/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$from=2018-02-12 20:07:10Z&$to=2018-02-13 20:07:10Z&$filter=IsCompliant eq false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/3f3c4330183b4e218fe6fd29'
                      - policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/ddd8ef92e3714a5ea3d208c1
                        policyDefinitions:
                          - effect: audit
                            policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                            results:
                              nonCompliantResources: 531
                              queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyDefinitions/24813039-7534-408a-9842-eb99f45721b1/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$from=2018-02-12 20:07:10Z&$to=2018-02-13 20:07:10Z&$filter=IsCompliant eq false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/ddd8ef92e3714a5ea3d208c1' and PolicyDefinitionId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1'
                        policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/12b58873-e0f8-4b95-936c-86cbe7c9d697
                        results:
                          nonCompliantPolicies: 1
                          nonCompliantResources: 531
                          queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyDefinitions/24813039-7534-408a-9842-eb99f45721b1/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$from=2018-02-12 20:07:10Z&$to=2018-02-13 20:07:10Z&$filter=IsCompliant eq false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/ddd8ef92e3714a5ea3d208c1'
                      - policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/f4cc58b7db524a9799381531
                        policyDefinitions:
                          - effect: audit
                            policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                            results:
                              nonCompliantResources: 531
                              queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyDefinitions/24813039-7534-408a-9842-eb99f45721b1/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$from=2018-02-12 20:07:10Z&$to=2018-02-13 20:07:10Z&$filter=IsCompliant eq false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/f4cc58b7db524a9799381531' and PolicyDefinitionId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1'
                        policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/12b58873-e0f8-4b95-936c-86cbe7c9d697
                        results:
                          nonCompliantPolicies: 1
                          nonCompliantResources: 531
                          queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyDefinitions/24813039-7534-408a-9842-eb99f45721b1/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$from=2018-02-12 20:07:10Z&$to=2018-02-13 20:07:10Z&$filter=IsCompliant eq false and PolicyAssignmentId eq '/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/f4cc58b7db524a9799381531'
                    results:
                      nonCompliantPolicies: 4
                      nonCompliantResources: 561
                      queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyDefinitions/24813039-7534-408a-9842-eb99f45721b1/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$from=2018-02-12 20:07:10Z&$to=2018-02-13 20:07:10Z&$filter=IsCompliant eq false
  "/subscriptions/{subscriptionId}/providers/{authorizationNamespace}/policySetDefinitions/{policySetDefinitionName}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesResource}/queryResults":
    post:
      description: Queries policy states for the subscription level policy set definition.
      operationId: PolicyStates_ListQueryResultsForPolicySetDefinition
      parameters:
        - $ref: "#/parameters/policyStatesResourceParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/authorizationNamespaceParameter"
        - $ref: "#/parameters/policySetDefinitionNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/topParameter"
        - $ref: "#/parameters/orderByParameter"
        - $ref: "#/parameters/selectParameter"
        - $ref: "#/parameters/fromParameter"
        - $ref: "#/parameters/toParameter"
        - $ref: "#/parameters/filterParameter"
        - $ref: "#/parameters/applyParameter"
      responses:
        "200":
          description: Query results.
          schema:
            $ref: "#/definitions/PolicyStatesQueryResults"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/QueryFailure"
      x-ms-examples:
        Query latest at subscription level policy set definition scope:
          parameters:
            api-version: 2017-12-12-preview
            authorizationNamespace: Microsoft.Authorization
            policySetDefinitionName: 3e3807c1-65c9-49e0-a406-82d8ae3e338c
            policyStatesResource: latest
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body:
                "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policySetDefinitions/3e3807c1-65c9-49e0-a406-82d8ae3e338c/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest
                "@odata.count": 2
                value:
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policySetDefinitions/3e3807c1-65c9-49e0-a406-82d8ae3e338c/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    effectiveParameters: null
                    isCompliant: false
                    managementGroupIds: mymg,fff988bf-fff1-ffff-fffb-fffcd011db47
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyAssignments/3f3c4330183b4e218fe6fd29
                    policyAssignmentName: 3f3c4330183b4e218fe6fd29
                    policyAssignmentOwner: tbd
                    policyAssignmentParameters: "{}"
                    policyAssignmentScope: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852
                    policyDefinitionAction: audit
                    policyDefinitionCategory: tbd
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyDefinitions/24813039-7534-408a-9842-eb99f45721b1
                    policyDefinitionName: 24813039-7534-408a-9842-eb99f45721b1
                    policyDefinitionReferenceId: null
                    policySetDefinitionCategory: null
                    policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policySetDefinitions/3e3807c1-65c9-49e0-a406-82d8ae3e338c
                    policySetDefinitionName: 3e3807c1-65c9-49e0-a406-82d8ae3e338c
                    policySetDefinitionOwner: null
                    policySetDefinitionParameters: null
                    resourceGroup: myResourceGroup
                    resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourceGroups/myResourceGroup/providers/Microsoft.Web/sites/mySite
                    resourceLocation: centralus
                    resourceTags: tbd
                    resourceType: /Microsoft.Web/sites
                    subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
                    timestamp: 2018-02-13T00:54:58Z
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policySetDefinitions/3e3807c1-65c9-49e0-a406-82d8ae3e338c/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    effectiveParameters: null
                    isCompliant: false
                    managementGroupIds: mymg,fff988bf-fff1-ffff-fffb-fffcd011db47
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyAssignments/3f3c4330183b4e218fe6fd29
                    policyAssignmentName: 3f3c4330183b4e218fe6fd29
                    policyAssignmentOwner: tbd
                    policyAssignmentParameters: "{}"
                    policyAssignmentScope: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852
                    policyDefinitionAction: Audit
                    policyDefinitionCategory: tbd
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyDefinitions/LocationAuditDefinition
                    policyDefinitionName: LocationAuditDefinition
                    policyDefinitionReferenceId: null
                    policySetDefinitionCategory: null
                    policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policySetDefinitions/3e3807c1-65c9-49e0-a406-82d8ae3e338c
                    policySetDefinitionName: 3e3807c1-65c9-49e0-a406-82d8ae3e338c
                    policySetDefinitionOwner: null
                    policySetDefinitionParameters: null
                    resourceGroup: myResourceGroup
                    resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourceGroups/myResourceGroup/providers/Microsoft.Web/sites/mySite
                    resourceLocation: centralus
                    resourceTags: tbd
                    resourceType: /Microsoft.Web/sites
                    subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
                    timestamp: 2018-02-13T00:54:58Z
  "/subscriptions/{subscriptionId}/providers/{authorizationNamespace}/policySetDefinitions/{policySetDefinitionName}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesSummaryResource}/summarize":
    post:
      description: Summarizes policy states for the subscription level policy set definition.
      operationId: PolicyStates_SummarizeForPolicySetDefinition
      parameters:
        - $ref: "#/parameters/policyStatesSummaryResourceParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/authorizationNamespaceParameter"
        - $ref: "#/parameters/policySetDefinitionNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/topParameter"
        - $ref: "#/parameters/fromParameter"
        - $ref: "#/parameters/toParameter"
        - $ref: "#/parameters/filterParameter"
      responses:
        "200":
          description: Summarize results.
          schema:
            $ref: "#/definitions/SummarizeResults"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/QueryFailure"
      x-ms-examples:
        Summarize at policy set definition scope:
          parameters:
            $filter: PolicyDefinitionAction eq 'deny'
            $from: 2018-02-05T18:00:00Z
            $to: 2018-02-06T18:00:00Z
            $top: 1
            api-version: 2017-12-12-preview
            authorizationNamespace: Microsoft.Authorization
            policySetDefinitionName: 3e3807c1-65c9-49e0-a406-82d8ae3e338c
            policyStatesSummaryResource: latest
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body:
                "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policySetDefinitions/3e3807c1-65c9-49e0-a406-82d8ae3e338c/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary
                "@odata.count": 1
                value:
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policySetDefinitions/3e3807c1-65c9-49e0-a406-82d8ae3e338c/providers/Microsoft.PolicyInsights/policyStates/$metadata#summary/$entity
                    "@odata.id": null
                    policyAssignments: []
                    results:
                      nonCompliantPolicies: 0
                      nonCompliantResources: 0
                      queryResultsUri: https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policySetDefinitions/3e3807c1-65c9-49e0-a406-82d8ae3e338c/providers/Microsoft.PolicyInsights/policyStates/latest/queryResults?api-version=2017-12-12-preview&$from=2018-02-05 18:00:00Z&$to=2018-02-06 18:00:00Z&$filter=(PolicyDefinitionAction eq 'deny') and IsCompliant eq false
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesResource}/queryResults":
    post:
      description: Queries policy states for the resources under the resource group.
      operationId: PolicyStates_ListQueryResultsForResourceGroup
      parameters:
        - $ref: "#/parameters/policyStatesResourceParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/topParameter"
        - $ref: "#/parameters/orderByParameter"
        - $ref: "#/parameters/selectParameter"
        - $ref: "#/parameters/fromParameter"
        - $ref: "#/parameters/toParameter"
        - $ref: "#/parameters/filterParameter"
        - $ref: "#/parameters/applyParameter"
      responses:
        "200":
          description: Query results.
          schema:
            $ref: "#/definitions/PolicyStatesQueryResults"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/QueryFailure"
      x-ms-examples:
        Query latest at resource group scope:
          parameters:
            api-version: 2017-12-12-preview
            policyStatesResource: latest
            resourceGroupName: myResourceGroup
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body:
                "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourcegroups/myResourceGroup/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest
                "@odata.count": 2
                value:
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourcegroups/myResourceGroup/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    effectiveParameters: null
                    isCompliant: false
                    managementGroupIds: mymg,fff988bf-fff1-ffff-fffb-fffcd011db47
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyAssignments/3f3c4330183b4e218fe6fd29
                    policyAssignmentName: 3f3c4330183b4e218fe6fd29
                    policyAssignmentOwner: tbd
                    policyAssignmentParameters: "{}"
                    policyAssignmentScope: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852
                    policyDefinitionAction: audit
                    policyDefinitionCategory: tbd
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyDefinitions/24813039-7534-408a-9842-eb99f45721b1
                    policyDefinitionName: 24813039-7534-408a-9842-eb99f45721b1
                    policyDefinitionReferenceId: null
                    policySetDefinitionCategory: null
                    policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policySetDefinitions/3e3807c1-65c9-49e0-a406-82d8ae3e338c
                    policySetDefinitionName: 3e3807c1-65c9-49e0-a406-82d8ae3e338c
                    policySetDefinitionOwner: null
                    policySetDefinitionParameters: null
                    resourceGroup: myResourceGroup
[...]
