swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: REST API for Azure Logic Apps.
  title: LogicManagementClient
  version: 2018-07-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/logic/resource-manager/Microsoft.Logic/preview/2018-07-01-preview/logic.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: logic
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  api-version:
    description: The API version.
    in: query
    name: api-version
    required: true
    type: string
  subscriptionId:
    description: The subscription id.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.Logic/operations:
    get:
      description: Lists all of the available Logic REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: Logic error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Operations
      x-ms-examples:
        List Microsoft.Logic operations:
          parameters:
            api-version: 2018-07-01-preview
          responses:
            "200":
              body:
                value:
                  - display:
                      operation: Get Operation
                      provider: Microsoft Logic
                      resource: Operation
                    name: Microsoft.Logic/operations/read
                  - display:
                      operation: Register Resource Provider
                      provider: Microsoft Logic
                      resource: Resource Provider
                    name: Microsoft.Logic/register/action
                  - display:
                      operation: Validate Workflow
                      provider: Microsoft Logic
                      resource: Workflow
                    name: Microsoft.Logic/locations/workflows/validate/action
                  - display:
                      operation: Get Workflow
                      provider: Microsoft Logic
                      resource: Workflow
                    name: Microsoft.Logic/workflows/read
                  - display:
                      operation: Set Workflow
                      provider: Microsoft Logic
                      resource: Workflow
                    name: Microsoft.Logic/workflows/write
                  - display:
                      operation: Delete Workflow
                      provider: Microsoft Logic
                      resource: Workflow
                    name: Microsoft.Logic/workflows/delete
                  - display:
                      operation: Run Workflow
                      provider: Microsoft Logic
                      resource: Workflow
                    name: Microsoft.Logic/workflows/run/action
                  - display:
                      operation: Disable Workflow
                      provider: Microsoft Logic
                      resource: Workflow
                    name: Microsoft.Logic/workflows/disable/action
                  - display:
                      operation: Enable Workflow
                      provider: Microsoft Logic
                      resource: Workflow
                    name: Microsoft.Logic/workflows/enable/action
                  - display:
                      operation: Suspend Workflow
                      provider: Microsoft Logic
                      resource: Workflow
                    name: Microsoft.Logic/workflows/suspend/action
                  - display:
                      operation: Validate Workflow
                      provider: Microsoft Logic
                      resource: Workflow
                    name: Microsoft.Logic/workflows/validate/action
                  - display:
                      operation: Move Workflow
                      provider: Microsoft Logic
                      resource: Workflow
                    name: Microsoft.Logic/workflows/move/action
                  - display:
                      operation: Get workflow swagger
                      provider: Microsoft Logic
                      resource: Workflow
                    name: Microsoft.Logic/workflows/listSwagger/action
                  - display:
                      operation: Get Workflow Version
                      provider: Microsoft Logic
                      resource: Workflow Version
                    name: Microsoft.Logic/workflows/versions/read
                  - display:
                      operation: List Trigger Callback URL
                      provider: Microsoft Logic
                      resource: Trigger
                    name: Microsoft.Logic/workflows/versions/triggers/listCallbackUrl/action
                  - display:
                      operation: Get Access Key
                      provider: Microsoft Logic
                      resource: Access Key
                    name: Microsoft.Logic/workflows/accessKeys/read
                  - display:
                      operation: Set Access Key
                      provider: Microsoft Logic
                      resource: Access Key
                    name: Microsoft.Logic/workflows/accessKeys/write
                  - display:
                      operation: Delete Access Key
                      provider: Microsoft Logic
                      resource: Access Key
                    name: Microsoft.Logic/workflows/accessKeys/delete
                  - display:
                      operation: List Access Key
                      provider: Microsoft Logic
                      resource: Access Key
                    name: Microsoft.Logic/workflows/accessKeys/list/action
                  - display:
                      operation: Regenerate Access Key
                      provider: Microsoft Logic
                      resource: Access Key
                    name: Microsoft.Logic/workflows/accessKeys/regenerate/action
                  - display:
                      operation: Regenerate Access Key
                      provider: Microsoft Logic
                      resource: Access Key
                    name: Microsoft.Logic/workflows/regenerateAccessKey/action
                  - display:
                      operation: List workflow callback URL
                      provider: Microsoft Logic
                      resource: Workflow
                    name: Microsoft.Logic/workflows/listCallbackUrl/action
                  - display:
                      operation: Get Trigger
                      provider: Microsoft Logic
                      resource: Trigger
                    name: Microsoft.Logic/workflows/triggers/read
                  - display:
                      operation: Trigger Run
                      provider: Microsoft Logic
                      resource: Trigger
                    name: Microsoft.Logic/workflows/triggers/run/action
                  - display:
                      operation: Trigger Reset
                      provider: Microsoft Logic
                      resource: Trigger
                    name: Microsoft.Logic/workflows/triggers/reset/action
                  - display:
                      operation: Set Trigger State
                      provider: Microsoft Logic
                      resource: Trigger
                    name: Microsoft.Logic/workflows/triggers/setState/action
                  - display:
                      operation: Get Trigger Histories
                      provider: Microsoft Logic
                      resource: Trigger Histories
                    name: Microsoft.Logic/workflows/triggers/histories/read
                  - display:
                      operation: Resubmit trigger
                      provider: Microsoft Logic
                      resource: Trigger Histories
                    name: Microsoft.Logic/workflows/triggers/histories/resubmit/action
                  - display:
                      operation: List Trigger Callback URL
                      provider: Microsoft Logic
                      resource: Trigger
                    name: Microsoft.Logic/workflows/triggers/listCallbackUrl/action
                  - display:
                      operation: Get Workflow Run
                      provider: Microsoft Logic
                      resource: Workflow Run
                    name: Microsoft.Logic/workflows/runs/read
                  - display:
                      operation: Cancel Workflow Run
                      provider: Microsoft Logic
                      resource: Workflow Run
                    name: Microsoft.Logic/workflows/runs/cancel/action
                  - display:
                      operation: Get Workflow Run Operation Status
                      provider: Microsoft Logic
                      resource: Workflow Run Operation
                    name: Microsoft.Logic/workflows/runs/operations/read
                  - display:
                      operation: Get Workflow Run Action
                      provider: Microsoft Logic
                      resource: Workflow Run Action
                    name: Microsoft.Logic/workflows/runs/actions/read
                  - display:
                      operation: Get Workflow Run Action Repetition
                      provider: Microsoft Logic
                      resource: Workflow Run Action Repetition
                    name: Microsoft.Logic/workflows/runs/actions/repetitions/read
                  - display:
                      operation: Get Workflow Run Action Scope Repetition
                      provider: Microsoft Logic
                      resource: Workflow Run Action Scope Repetition
                    name: Microsoft.Logic/workflows/runs/actions/scoperepetitions/read
                  - display:
                      operation: Gets the workflow run action request history
                      provider: Microsoft Logic
                      resource: Workflow run action request history
                    name: Microsoft.Logic/workflows/runs/actions/requestHistories/read
                  - display:
                      operation: Gets the workflow run repetition action request history
                      provider: Microsoft Logic
                      resource: Workflow run repetition action request history
                    name: Microsoft.Logic/workflows/runs/actions/repetitions/requestHistories/read
                  - display:
                      operation: Get Workflow Diagnostic Setting
                      provider: Microsoft Logic
                      resource: Workflow Diagnostic Setting
                    name: Microsoft.Logic/workflows/providers/Microsoft.Insights/diagnosticSettings/read
                    origin: System
                  - display:
                      operation: Set Workflow Diagnostic Setting
                      provider: Microsoft Logic
                      resource: Workflow Diagnostic Setting
                    name: Microsoft.Logic/workflows/providers/Microsoft.Insights/diagnosticSettings/write
                    origin: System
                  - display:
                      operation: Get Workflow Metric Definition
                      provider: Microsoft Logic
                      resource: Workflow Metric Definition
                    name: Microsoft.Logic/workflows/providers/Microsoft.Insights/metricDefinitions/read
                    origin: System
                    properties:
                      serviceSpecification:
                        metricSpecifications:
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Number of workflow runs started.
                            displayName: Runs Started
                            fillGapWithZero: true
                            name: RunsStarted
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Number of workflow runs completed.
                            displayName: Runs Completed
                            fillGapWithZero: true
                            name: RunsCompleted
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Number of workflow runs succeeded.
                            displayName: Runs Succeeded
                            fillGapWithZero: true
                            name: RunsSucceeded
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Number of workflow runs failed.
                            displayName: Runs Failed
                            fillGapWithZero: true
                            name: RunsFailed
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Number of workflow runs cancelled.
                            displayName: Runs Cancelled
                            fillGapWithZero: true
                            name: RunsCancelled
                            unit: Count
                          - aggregationType: Average
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Latency of completed workflow runs.
                            displayName: Run Latency
                            fillGapWithZero: false
                            name: RunLatency
                            unit: Seconds
                          - aggregationType: Average
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Latency of succeeded workflow runs.
                            displayName: Run Success Latency
                            fillGapWithZero: false
                            name: RunSuccessLatency
                            unit: Seconds
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Number of workflow action or trigger throttled events.
                            displayName: Run Throttled Events
                            fillGapWithZero: true
                            name: RunThrottledEvents
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Percentage of workflow runs failed.
                            displayName: Run Failure Percentage
                            fillGapWithZero: true
                            name: RunFailurePercentage
                            unit: Percent
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Number of workflow actions started.
                            displayName: "Actions Started "
                            fillGapWithZero: true
                            name: ActionsStarted
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Number of workflow actions completed.
                            displayName: "Actions Completed "
                            fillGapWithZero: true
                            name: ActionsCompleted
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Number of workflow actions succeeded.
                            displayName: "Actions Succeeded "
                            fillGapWithZero: true
                            name: ActionsSucceeded
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Number of workflow actions failed.
                            displayName: "Actions Failed "
                            fillGapWithZero: true
                            name: ActionsFailed
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Number of workflow actions skipped.
                            displayName: "Actions Skipped "
                            fillGapWithZero: true
                            name: ActionsSkipped
                            unit: Count
                          - aggregationType: Average
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Latency of completed workflow actions.
                            displayName: "Action Latency "
                            fillGapWithZero: false
                            name: ActionLatency
                            unit: Seconds
                          - aggregationType: Average
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Latency of succeeded workflow actions.
                            displayName: "Action Success Latency "
                            fillGapWithZero: false
                            name: ActionSuccessLatency
                            unit: Seconds
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Number of workflow action throttled events..
                            displayName: Action Throttled Events
                            fillGapWithZero: true
                            name: ActionThrottledEvents
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Number of workflow triggers started.
                            displayName: "Triggers Started "
                            fillGapWithZero: true
                            name: TriggersStarted
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Number of workflow triggers completed.
                            displayName: "Triggers Completed "
                            fillGapWithZero: true
                            name: TriggersCompleted
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Number of workflow triggers succeeded.
                            displayName: "Triggers Succeeded "
                            fillGapWithZero: true
                            name: TriggersSucceeded
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Number of workflow triggers failed.
                            displayName: "Triggers Failed "
                            fillGapWithZero: true
                            name: TriggersFailed
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Number of workflow triggers skipped.
                            displayName: Triggers Skipped
                            fillGapWithZero: true
                            name: TriggersSkipped
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Number of workflow triggers fired.
                            displayName: "Triggers Fired "
                            fillGapWithZero: true
                            name: TriggersFired
                            unit: Count
                          - aggregationType: Average
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Latency of completed workflow triggers.
                            displayName: "Trigger Latency "
                            fillGapWithZero: false
                            name: TriggerLatency
                            unit: Seconds
                          - aggregationType: Average
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Latency of fired workflow triggers.
                            displayName: "Trigger Fire Latency "
                            fillGapWithZero: false
                            name: TriggerFireLatency
                            unit: Seconds
                          - aggregationType: Average
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Latency of succeeded workflow triggers.
                            displayName: "Trigger Success Latency "
                            fillGapWithZero: false
                            name: TriggerSuccessLatency
                            unit: Seconds
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Number of workflow trigger throttled events.
                            displayName: Trigger Throttled Events
                            fillGapWithZero: true
                            name: TriggerThrottledEvents
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Number of workflow action executions getting billed.
                            displayName: Billable Action Executions
                            fillGapWithZero: true
                            name: BillableActionExecutions
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Number of workflow trigger executions getting billed.
                            displayName: Billable Trigger Executions
                            fillGapWithZero: true
                            name: BillableTriggerExecutions
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Number of workflow executions getting billed.
                            displayName: Total Billable Executions
                            fillGapWithZero: true
                            name: TotalBillableExecutions
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Number of native workflow action executions getting billed.
                            displayName: Billable Native Action Executions
                            fillGapWithZero: true
                            name: BillableNativeActionExecutions
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Number of native workflow trigger executions getting billed.
                            displayName: Billable Native Trigger Executions
                            fillGapWithZero: true
                            name: BillableNativeTriggerExecutions
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Number of native workflow executions getting billed.
                            displayName: Total Native Billable Executions
                            fillGapWithZero: true
                            name: TotalBillableNativeExecutions
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Number of standard workflow action executions getting billed.
                            displayName: Billable Standard Action Executions
                            fillGapWithZero: true
                            name: BillableStandardActionExecutions
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Number of standard workflow trigger executions getting billed.
                            displayName: Billable Standard Trigger Executions
                            fillGapWithZero: true
                            name: BillableStandardTriggerExecutions
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                            dimensions: []
                            displayDescription: Number of standard workflow executions getting billed.
                            displayName: Total Standard Billable Executions
                            fillGapWithZero: true
                            name: TotalBillableStandardExecutions
                            unit: Count
                  - display:
                      operation: Get Workflow Log Definition
                      provider: Microsoft Logic
                      resource: Workflow Log Definition
                    name: Microsoft.Logic/workflows/providers/Microsoft.Insights/logDefinitions/read
                    origin: System
                    properties:
                      serviceSpecification:
                        logSpecifications:
                          - blobDuration: PT1H
                            description: Diagnostic events related to workflow runtime executions.
                            displayName: Workflow runtime diagnostic events
                            name: WorkflowRuntime
                  - display:
                      operation: List Workflow Run Action Expression Traces
                      provider: Microsoft Logic
                      resource: Workflow Run Action
                    name: Microsoft.Logic/workflows/runs/actions/listExpressionTraces/action
                  - display:
                      operation: List Workflow Run Action Repetition Expression Traces
                      provider: Microsoft Logic
                      resource: Workflow Run Action Repetition
                    name: Microsoft.Logic/workflows/runs/actions/repetitions/listExpressionTraces/action
                  - display:
                      operation: Get Integration Account Log Definition
                      provider: Microsoft Logic
                      resource: Integration Account Log Definition
                    name: Microsoft.Logic/integrationAccounts/providers/Microsoft.Insights/logDefinitions/read
                    origin: System
                    properties:
                      serviceSpecification:
                        logSpecifications:
                          - blobDuration: PT1H
                            description: Track events related to Integration Account.
                            displayName: Integration Account track events
                            name: IntegrationAccountTrackingEvents
                  - display:
                      operation: Get Integration Account
                      provider: Microsoft Logic
                      resource: Integration Account
                    name: Microsoft.Logic/integrationAccounts/read
                  - display:
                      operation: Set Integration Account
                      provider: Microsoft Logic
                      resource: Integration Account
                    name: Microsoft.Logic/integrationAccounts/write
                  - display:
                      operation: Delete Integration Account
                      provider: Microsoft Logic
                      resource: Integration Account
                    name: Microsoft.Logic/integrationAccounts/delete
                  - display:
                      operation: Regenerate Access Key
                      provider: Microsoft Logic
                      resource: Integration Account
                    name: Microsoft.Logic/integrationAccounts/regenerateAccessKey/action
                  - display:
                      operation: List Integration Account Callback URL
                      provider: Microsoft Logic
                      resource: Integration Account
                    name: Microsoft.Logic/integrationAccounts/listCallbackUrl/action
                  - display:
                      operation: List Key Vault Keys
                      provider: Microsoft Logic
                      resource: Integration Account
                    name: Microsoft.Logic/integrationAccounts/listKeyVaultKeys/action
                  - display:
                      operation: Log Integration Account Tracking Events
                      provider: Microsoft Logic
                      resource: Integration Account
                    name: Microsoft.Logic/integrationAccounts/logTrackingEvents/action
                  - display:
                      operation: Join Integration Account
                      provider: Microsoft Logic
                      resource: Integration Account
                    name: Microsoft.Logic/integrationAccounts/join/action
                  - display:
                      operation: Get Integration Account Partner
                      provider: Microsoft Logic
                      resource: Integration Account Partner
                    name: Microsoft.Logic/integrationAccounts/partners/read
                  - display:
                      operation: Set Integration Account Partner
                      provider: Microsoft Logic
                      resource: Integration Account Partner
                    name: Microsoft.Logic/integrationAccounts/partners/write
                  - display:
                      operation: Delete Integration Account Partner
                      provider: Microsoft Logic
                      resource: Integration Account Partner
                    name: Microsoft.Logic/integrationAccounts/partners/delete
                  - display:
                      operation: List Integration Account Partner Content Callback URL
                      provider: Microsoft Logic
                      resource: Integration Account Partner
                    name: Microsoft.Logic/integrationAccounts/partners/listContentCallbackUrl/action
                  - display:
                      operation: Get Integration Account Agreement
                      provider: Microsoft Logic
                      resource: Integration Account Agreement
                    name: Microsoft.Logic/integrationAccounts/agreements/read
                  - display:
                      operation: Set Integration Account Agreement
                      provider: Microsoft Logic
                      resource: Integration Account Agreement
                    name: Microsoft.Logic/integrationAccounts/agreements/write
                  - display:
                      operation: Delete Integration Account Agreement
                      provider: Microsoft Logic
                      resource: Integration Account Agreement
                    name: Microsoft.Logic/integrationAccounts/agreements/delete
                  - display:
                      operation: List Integration Account Agreement Content Callback URL
                      provider: Microsoft Logic
                      resource: Integration Account Agreement
                    name: Microsoft.Logic/integrationAccounts/agreements/listContentCallbackUrl/action
                  - display:
                      operation: Get Integration Account Certificate
                      provider: Microsoft Logic
                      resource: Integration Account Certificate
                    name: Microsoft.Logic/integrationAccounts/certificates/read
                  - display:
                      operation: Set Integration Account Certificate
                      provider: Microsoft Logic
                      resource: Integration Account Certificate
                    name: Microsoft.Logic/integrationAccounts/certificates/write
                  - display:
                      operation: Delete Integration Account Certificate
                      provider: Microsoft Logic
                      resource: Integration Account Certificate
                    name: Microsoft.Logic/integrationAccounts/certificates/delete
                  - display:
                      operation: Get Integration Account Schema
                      provider: Microsoft Logic
                      resource: Integration Account Schema
                    name: Microsoft.Logic/integrationAccounts/schemas/read
                  - display:
                      operation: Set Integration Account Schema
                      provider: Microsoft Logic
                      resource: Integration Account Schema
                    name: Microsoft.Logic/integrationAccounts/schemas/write
                  - display:
                      operation: Delete Integration Account Schema
                      provider: Microsoft Logic
                      resource: Integration Account Schema
                    name: Microsoft.Logic/integrationAccounts/schemas/delete
                  - display:
                      operation: List Integration Account Schema Content Callback URL
                      provider: Microsoft Logic
                      resource: Integration Account Schema
                    name: Microsoft.Logic/integrationAccounts/schemas/listContentCallbackUrl/action
                  - display:
                      operation: Get Integration Account Map
                      provider: Microsoft Logic
                      resource: Integration Account Map
                    name: Microsoft.Logic/integrationAccounts/maps/read
                  - display:
                      operation: Set Integration Account Map
                      provider: Microsoft Logic
                      resource: Integration Account Map
                    name: Microsoft.Logic/integrationAccounts/maps/write
                  - display:
                      operation: Delete Integration Account Map
                      provider: Microsoft Logic
                      resource: Integration Account Map
                    name: Microsoft.Logic/integrationAccounts/maps/delete
                  - display:
                      operation: List Integration Account Map Content Callback URL
                      provider: Microsoft Logic
                      resource: Integration Account Map
                    name: Microsoft.Logic/integrationAccounts/maps/listContentCallbackUrl/action
                  - display:
                      operation: Get Integration Account Assembly
                      provider: Microsoft Logic
                      resource: Integration Account Assembly
                    name: Microsoft.Logic/integrationAccounts/assemblies/read
                  - display:
                      operation: Set Integration Account Assembly
                      provider: Microsoft Logic
                      resource: Integration Account Assembly
                    name: Microsoft.Logic/integrationAccounts/assemblies/write
                  - display:
                      operation: Delete Integration Account Assembly
                      provider: Microsoft Logic
                      resource: Integration Account Assembly
                    name: Microsoft.Logic/integrationAccounts/assemblies/delete
                  - display:
                      operation: List Integration Account Assembly Content Callback URL
                      provider: Microsoft Logic
                      resource: Integration Account Assembly
                    name: Microsoft.Logic/integrationAccounts/assemblies/listContentCallbackUrl/action
                  - display:
                      operation: Get Integration Account Batch Configuration
                      provider: Microsoft Logic
                      resource: Integration Account Batch Configuration
                    name: Microsoft.Logic/integrationAccounts/batchConfigurations/read
                  - display:
                      operation: Set Integration Account Batch Configuration
                      provider: Microsoft Logic
                      resource: Integration Account Batch Configuration
                    name: Microsoft.Logic/integrationAccounts/batchConfigurations/write
                  - display:
                      operation: Delete Integration Account Batch Configuration
                      provider: Microsoft Logic
                      resource: Integration Account Batch Configuration
                    name: Microsoft.Logic/integrationAccounts/batchConfigurations/delete
                  - display:
                      operation: Get Integration Account Session
                      provider: Microsoft Logic
                      resource: Integration Account Session
                    name: Microsoft.Logic/integrationAccounts/sessions/read
                  - display:
                      operation: Set Integration Account Session
                      provider: Microsoft Logic
                      resource: Integration Account Session
                    name: Microsoft.Logic/integrationAccounts/sessions/write
                  - display:
                      operation: Delete Integration Account Session
                      provider: Microsoft Logic
                      resource: Integration Account Session
                    name: Microsoft.Logic/integrationAccounts/sessions/delete
                  - display:
                      operation: Get Integration Service Environment
                      provider: Microsoft Logic
                      resource: Integration Service Environment
                    name: Microsoft.Logic/integrationServiceEnvironments/read
                  - display:
                      operation: Set Integration Service Environment
                      provider: Microsoft Logic
                      resource: Integration Service Environment
                    name: Microsoft.Logic/integrationServiceEnvironments/write
                  - display:
                      operation: Delete Integration Service Environment
                      provider: Microsoft Logic
                      resource: Integration Service Environment
                    name: Microsoft.Logic/integrationServiceEnvironments/delete
                  - display:
                      operation: Join Integration Service Environment
                      provider: Microsoft Logic
                      resource: Integration Service Environment
                    name: Microsoft.Logic/integrationServiceEnvironments/join/action
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Logic/integrationAccounts":
    get:
      description: Gets a list of integration accounts by subscription.
      operationId: IntegrationAccounts_ListBySubscription
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/api-version"
        - description: The number of items to be included in the result.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/IntegrationAccountListResult"
      tags:
        - IntegrationAccounts
      x-ms-examples:
        List integration accounts by subscription:
          parameters:
            api-version: 2018-07-01-preview
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/providers/Microsoft.Logic/integrationAccounts?api-version=2018-07-01-preview&%24skiptoken=<token>
                value:
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount
                    location: northcentralus
                    name: daviburgIAFabrikam
                    properties: {}
                    sku:
                      name: Free
                    type: Microsoft.Logic/integrationAccounts
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Logic/workflows":
    get:
      description: Gets a list of workflows by subscription.
      operationId: Workflows_ListBySubscription
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/api-version"
        - description: The number of items to be included in the result.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - description: "The filter to apply on the operation. Options for filters include: State, Trigger, and ReferencedResourceId."
          in: query
          name: $filter
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/WorkflowListResult"
      tags:
        - Workflows
      x-ms-examples:
        List all workflows in a subscription:
          parameters:
            api-version: 2018-07-01-preview
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/workflows/test-workflow
                    location: brazilsouth
                    name: test-workflow
                    properties:
                      accessControl: {}
                      accessEndpoint: http://tempuri.org
                      changedTime: 2018-08-09T22:54:54.3533634Z
                      createdTime: 2018-04-25T01:39:21.4365247Z
                      definition:
                        $schema: https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#
                        actions: {}
                        contentVersion: 1.0.0.0
                        outputs: {}
                        parameters: {}
                        triggers: {}
                      endpointsConfiguration:
                        connector:
                          outgoingIpAddresses:
                            - address: 40.84.145.61
                        workflow:
                          accessEndpointIpAddresses:
                            - address: 104.210.153.89
                            - address: 13.85.79.155
                            - address: 13.65.39.247
                          outgoingIpAddresses:
                            - address: 13.84.159.168
                            - address: 13.65.86.56
                            - address: 13.65.82.190
                      integrationAccount:
                        id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/integrationAccounts/test-integration-account
                        name: test-integration-account
                        type: Microsoft.Logic/integrationAccounts
                      parameters: {}
                      provisioningState: Succeeded
                      state: Enabled
                      version: 8586677515911718000
                    tags: {}
                    type: Microsoft.Logic/workflows
      x-ms-odata: "#/definitions/WorkflowFilter"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts":
    get:
      description: Gets a list of integration accounts by resource group.
      operationId: IntegrationAccounts_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
        - description: The number of items to be included in the result.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/IntegrationAccountListResult"
      tags:
        - IntegrationAccounts
      x-ms-examples:
        List integration accounts by resource group name:
          parameters:
            api-version: 2018-07-01-preview
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/IntegrationAccount9020
                    location: westus
                    name: IntegrationAccount9020
                    properties: {}
                    sku:
                      name: Standard
                    type: Microsoft.Logic/integrationAccounts
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}":
    delete:
      description: Deletes an integration account.
      operationId: IntegrationAccounts_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The integration account name.
          in: path
          name: integrationAccountName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
        "204":
          description: No Content
      tags:
        - IntegrationAccounts
      x-ms-examples:
        Delete an integration account:
          parameters:
            api-version: 2018-07-01-preview
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets an integration account.
      operationId: IntegrationAccounts_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The integration account name.
          in: path
          name: integrationAccountName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/IntegrationAccount"
      tags:
        - IntegrationAccounts
      x-ms-examples:
        Get integration account by name:
          parameters:
            api-version: 2018-07-01-preview
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount
                location: westus
                name: IntegrationAccount5892
                properties: {}
                sku:
                  name: Standard
                type: Microsoft.Logic/integrationAccounts
    patch:
      description: Updates an integration account.
      operationId: IntegrationAccounts_Update
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The integration account name.
          in: path
          name: integrationAccountName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
        - description: The integration account.
          in: body
          name: integrationAccount
          required: true
          schema:
            $ref: "#/definitions/IntegrationAccount"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/IntegrationAccount"
      tags:
        - IntegrationAccounts
      x-ms-examples:
        Patch an integration account:
          parameters:
            api-version: 2018-07-01-preview
            integrationAccount:
              location: westus
              properties: {}
              sku:
                name: Standard
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount
                location: westus
                name: testIntegrationAccount
                properties: {}
                sku:
                  name: Standard
                type: Microsoft.Logic/integrationAccounts
    put:
      description: Creates or updates an integration account.
      operationId: IntegrationAccounts_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The integration account name.
          in: path
          name: integrationAccountName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
        - description: The integration account.
          in: body
          name: integrationAccount
          required: true
          schema:
            $ref: "#/definitions/IntegrationAccount"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/IntegrationAccount"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/IntegrationAccount"
      tags:
        - IntegrationAccounts
      x-ms-examples:
        Create or update an integration account:
          parameters:
            api-version: 2018-07-01-preview
            integrationAccount:
              location: westus
              properties: {}
              sku:
                name: Standard
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount
                location: westus
                name: testIntegrationAccount
                properties: {}
                sku:
                  name: Standard
                type: Microsoft.Logic/integrationAccounts
            "201":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/testIntegrationAccount
                location: westus
                name: testIntegrationAccount
                properties: {}
                sku:
                  name: Standard
                type: Microsoft.Logic/integrationAccounts
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/agreements":
    get:
      description: Gets a list of integration account agreements.
      operationId: IntegrationAccountAgreements_List
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The integration account name.
          in: path
          name: integrationAccountName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
        - description: The number of items to be included in the result.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - description: "The filter to apply on the operation. Options for filters include: AgreementType."
          in: query
          name: $filter
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/IntegrationAccountAgreementListResult"
      tags:
        - IntegrationAccountAgreements
      x-ms-examples:
        Get agreements by integration account name:
          parameters:
            api-version: 2018-07-01-preview
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/<IntegrationAccountName>/agreements/<IntegrationAccountAgreementName>
                    name: <IntegrationAccountAgreementName>
                    properties:
                      agreementType: X12
                      changedTime: 2017-03-06T22:00:54.1520445Z
                      content:
                        x12:
                          receiveAgreement:
                            protocolSettings:
                              acknowledgementSettings:
                                acknowledgementControlNumberLowerBound: 1
                                acknowledgementControlNumberUpperBound: 999999999
                                batchFunctionalAcknowledgements: true
                                batchImplementationAcknowledgements: false
                                batchTechnicalAcknowledgements: true
                                needFunctionalAcknowledgement: false
                                needImplementationAcknowledgement: false
                                needLoopForValidMessages: false
                                needTechnicalAcknowledgement: false
                                rolloverAcknowledgementControlNumber: true
                                sendSynchronousAcknowledgement: true
                              envelopeSettings:
                                controlStandardsId: 85
                                controlVersionNumber: "00401"
                                enableDefaultGroupHeaders: true
                                groupControlNumberLowerBound: 1
                                groupControlNumberUpperBound: 999999999
                                groupHeaderAgencyCode: T
                                groupHeaderDateFormat: CCYYMMDD
                                groupHeaderTimeFormat: HHMM
                                groupHeaderVersion: "00401"
                                interchangeControlNumberLowerBound: 1
                                interchangeControlNumberUpperBound: 999999999
                                overwriteExistingTransactionSetControlNumber: true
                                receiverApplicationId: RECEIVE-APP
                                rolloverGroupControlNumber: true
                                rolloverInterchangeControlNumber: true
                                rolloverTransactionSetControlNumber: true
                                senderApplicationId: BTS-SENDER
                                transactionSetControlNumberLowerBound: 1
                                transactionSetControlNumberUpperBound: 999999999
                                usageIndicator: Test
                                useControlStandardsIdAsRepetitionCharacter: false
                              framingSettings:
                                characterSet: UTF8
                                componentSeparator: 58
                                dataElementSeparator: 42
                                replaceCharacter: 36
                                replaceSeparatorsInPayload: false
                                segmentTerminator: 126
                                segmentTerminatorSuffix: None
                              messageFilter:
                                messageFilterType: Exclude
                              processingSettings:
                                convertImpliedDecimal: true
                                createEmptyXmlTagsForTrailingSeparators: true
                                maskSecurityInfo: true
                                preserveInterchange: true
                                suspendInterchangeOnError: true
                                useDotAsDecimalSeparator: true
                              schemaReferences: []
                              securitySettings:
                                authorizationQualifier: "00"
                                securityQualifier: "00"
                              validationSettings:
                                allowLeadingAndTrailingSpacesAndZeroes: false
                                checkDuplicateGroupControlNumber: false
                                checkDuplicateInterchangeControlNumber: false
                                checkDuplicateTransactionSetControlNumber: false
                                interchangeControlNumberValidityDays: 30
                                trailingSeparatorPolicy: NotAllowed
                                trimLeadingAndTrailingSpacesAndZeroes: false
                                validateCharacterSet: true
                                validateEDITypes: true
                                validateXSDTypes: false
                            receiverBusinessIdentity:
                              qualifier: ZZ
                              value: ZZ
                            senderBusinessIdentity:
                              qualifier: AA
                              value: AA
                          sendAgreement:
                            protocolSettings:
                              acknowledgementSettings:
                                acknowledgementControlNumberLowerBound: 1
                                acknowledgementControlNumberUpperBound: 999999999
                                batchFunctionalAcknowledgements: true
                                batchImplementationAcknowledgements: false
                                batchTechnicalAcknowledgements: true
                                needFunctionalAcknowledgement: false
                                needImplementationAcknowledgement: false
                                needLoopForValidMessages: false
                                needTechnicalAcknowledgement: false
                                rolloverAcknowledgementControlNumber: true
                                sendSynchronousAcknowledgement: true
                              envelopeSettings:
                                controlStandardsId: 100
                                controlVersionNumber: "0.0"
                                enableDefaultGroupHeaders: true
                                functionalGroupId: "1"
                                groupControlNumberLowerBound: 1
                                groupControlNumberUpperBound: 999999999
                                groupHeaderAgencyCode: T
                                groupHeaderDateFormat: CCYYMMDD
                                groupHeaderTimeFormat: HHMM
                                groupHeaderVersion: "0.0"
                                interchangeControlNumberLowerBound: 1
                                interchangeControlNumberUpperBound: 999999999
                                overwriteExistingTransactionSetControlNumber: true
                                receiverApplicationId: "100"
                                rolloverGroupControlNumber: true
                                rolloverInterchangeControlNumber: true
                                rolloverTransactionSetControlNumber: true
                                senderApplicationId: "100"
                                transactionSetControlNumberLowerBound: 1
                                transactionSetControlNumberPrefix: ""
                                transactionSetControlNumberSuffix: ""
                                transactionSetControlNumberUpperBound: 999999999
                                usageIndicator: Information
                                useControlStandardsIdAsRepetitionCharacter: true
                              framingSettings:
                                characterSet: UTF8
                                componentSeparator: 58
                                dataElementSeparator: 42
                                replaceCharacter: 36
                                replaceSeparatorsInPayload: false
                                segmentTerminator: 126
                                segmentTerminatorSuffix: None
                              messageFilter:
                                messageFilterType: Exclude
                              processingSettings:
                                convertImpliedDecimal: true
                                createEmptyXmlTagsForTrailingSeparators: true
                                maskSecurityInfo: true
                                preserveInterchange: true
                                suspendInterchangeOnError: true
                                useDotAsDecimalSeparator: true
                              schemaReferences: []
                              securitySettings:
                                authorizationQualifier: "00"
                                securityQualifier: "00"
                              validationSettings:
                                allowLeadingAndTrailingSpacesAndZeroes: false
                                checkDuplicateGroupControlNumber: false
                                checkDuplicateInterchangeControlNumber: false
                                checkDuplicateTransactionSetControlNumber: false
                                interchangeControlNumberValidityDays: 30
                                trailingSeparatorPolicy: NotAllowed
                                trimLeadingAndTrailingSpacesAndZeroes: false
                                validateCharacterSet: true
                                validateEDITypes: true
                                validateXSDTypes: false
                            receiverBusinessIdentity:
                              qualifier: AA
                              value: AA
                            senderBusinessIdentity:
                              qualifier: ZZ
                              value: ZZ
                      createdTime: 2017-03-06T22:00:54.1516558Z
                      guestIdentity:
                        qualifier: AA
                        value: AA
                      guestPartner: GuestPartner
                      hostIdentity:
                        qualifier: ZZ
                        value: ZZ
                      hostPartner: HostPartner
                      metadata: {}
                    type: Microsoft.Logic/integrationAccounts/agreements
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/<IntegrationAccountName>/agreements/<IntegrationAccountAgreementName>
                    name: <IntegrationAccountAgreementName>
                    properties:
                      agreementType: AS2
                      changedTime: 2017-03-06T22:00:53.4140804Z
                      content:
                        aS2:
                          receiveAgreement:
                            protocolSettings:
                              acknowledgementConnectionSettings:
                                ignoreCertificateNameMismatch: true
                                keepHttpConnectionAlive: true
                                supportHttpStatusCodeContinue: true
                                unfoldHttpHeaders: true
                              envelopeSettings:
                                autogenerateFileName: true
                                fileNameTemplate: Test
                                messageContentType: text/plain
                                suspendMessageOnFileNameGenerationError: true
                                transmitFileNameInMimeHeader: true
                              errorSettings:
                                resendIfMDNNotReceived: true
                                suspendDuplicateMessage: true
                              mdnSettings:
                                dispositionNotificationTo: http://tempuri.org
                                mdnText: Sample
                                micHashingAlgorithm: None
                                needMDN: true
                                receiptDeliveryUrl: http://tempuri.org
                                sendInboundMdnToMessageBox: true
                                sendMDNAsynchronously: true
                                signMDN: true
                                signOutboundMdnIfOptional: true
                              messageConnectionSettings:
                                ignoreCertificateNameMismatch: true
                                keepHttpConnectionAlive: true
                                supportHttpStatusCodeContinue: true
                                unfoldHttpHeaders: true
                              securitySettings:
                                enableNRRForInboundDecodedMessages: true
                                enableNRRForInboundEncodedMessages: true
                                enableNRRForInboundMDN: true
                                enableNRRForOutboundDecodedMessages: true
                                enableNRRForOutboundEncodedMessages: true
                                enableNRRForOutboundMDN: true
                                overrideGroupSigningCertificate: false
                              validationSettings:
                                checkCertificateRevocationListOnReceive: true
                                checkCertificateRevocationListOnSend: true
                                checkDuplicateMessage: true
                                compressMessage: true
                                encryptMessage: false
                                encryptionAlgorithm: AES128
                                interchangeDuplicatesValidityDays: 100
                                overrideMessageProperties: true
                                signMessage: false
                            receiverBusinessIdentity:
                              qualifier: ZZ
                              value: ZZ
                            senderBusinessIdentity:
                              qualifier: AA
                              value: AA
                          sendAgreement:
                            protocolSettings:
                              acknowledgementConnectionSettings:
                                ignoreCertificateNameMismatch: true
                                keepHttpConnectionAlive: true
                                supportHttpStatusCodeContinue: true
                                unfoldHttpHeaders: true
                              envelopeSettings:
                                autogenerateFileName: true
                                fileNameTemplate: Test
                                messageContentType: text/plain
                                suspendMessageOnFileNameGenerationError: true
                                transmitFileNameInMimeHeader: true
                              errorSettings:
                                resendIfMDNNotReceived: true
                                suspendDuplicateMessage: true
                              mdnSettings:
                                dispositionNotificationTo: http://tempuri.org
                                mdnText: Sample
                                micHashingAlgorithm: None
                                needMDN: true
                                receiptDeliveryUrl: http://tempuri.org
                                sendInboundMdnToMessageBox: true
                                sendMDNAsynchronously: true
                                signMDN: true
                                signOutboundMdnIfOptional: true
                              messageConnectionSettings:
                                ignoreCertificateNameMismatch: true
                                keepHttpConnectionAlive: true
                                supportHttpStatusCodeContinue: true
                                unfoldHttpHeaders: true
                              securitySettings:
                                enableNRRForInboundDecodedMessages: true
                                enableNRRForInboundEncodedMessages: true
                                enableNRRForInboundMDN: true
                                enableNRRForOutboundDecodedMessages: true
                                enableNRRForOutboundEncodedMessages: true
                                enableNRRForOutboundMDN: true
                                overrideGroupSigningCertificate: false
                              validationSettings:
                                checkCertificateRevocationListOnReceive: true
                                checkCertificateRevocationListOnSend: true
                                checkDuplicateMessage: true
                                compressMessage: true
                                encryptMessage: false
                                encryptionAlgorithm: AES128
                                interchangeDuplicatesValidityDays: 100
                                overrideMessageProperties: true
                                signMessage: false
                            receiverBusinessIdentity:
                              qualifier: AA
                              value: AA
                            senderBusinessIdentity:
                              qualifier: ZZ
                              value: ZZ
                      createdTime: 2017-03-06T22:00:53.4134038Z
                      guestIdentity:
                        qualifier: AA
                        value: AA
                      guestPartner: GuestPartner
                      hostIdentity:
                        qualifier: ZZ
                        value: ZZ
                      hostPartner: HostPartner
                      metadata: {}
                    type: Microsoft.Logic/integrationAccounts/agreements
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/<IntegrationAccountName>/agreements/<IntegrationAccountAgreementName>
                    name: <IntegrationAccountAgreementName>
                    properties:
                      agreementType: Edifact
                      changedTime: 2017-03-06T22:00:53.8212345Z
                      content:
                        edifact:
                          receiveAgreement:
                            protocolSettings:
                              acknowledgementSettings:
                                acknowledgementControlNumberLowerBound: 1
                                acknowledgementControlNumberPrefix: ""
                                acknowledgementControlNumberSuffix: ""
                                acknowledgementControlNumberUpperBound: 99999999
                                batchFunctionalAcknowledgements: true
                                batchTechnicalAcknowledgements: true
                                needFunctionalAcknowledgement: false
                                needLoopForValidMessages: false
                                needTechnicalAcknowledgement: true
                                rolloverAcknowledgementControlNumber: true
                                sendSynchronousAcknowledgement: true
                              envelopeSettings:
                                applicationReferenceId: "0"
                                applyDelimiterStringAdvice: true
                                communicationAgreementId: "0"
                                createGroupingSegments: true
                                enableDefaultGroupHeaders: true
                                functionalGroupId: "0"
                                groupApplicationPassword: "0"
                                groupApplicationReceiverId: "0"
                                groupApplicationReceiverQualifier: ZZZ
                                groupApplicationSenderId: AAA
                                groupApplicationSenderQualifier: ZZZ
                                groupAssociationAssignedCode: "0"
                                groupControlNumberLowerBound: 1
                                groupControlNumberPrefix: CU
                                groupControlNumberSuffix: NUM
                                groupControlNumberUpperBound: 99999999
                                groupControllingAgencyCode: "0"
                                groupMessageRelease: "0.0"
                                groupMessageVersion: "0.0"
                                interchangeControlNumberLowerBound: 1
                                interchangeControlNumberPrefix: CU
                                interchangeControlNumberSuffix: NUM
                                interchangeControlNumberUpperBound: 99999999
                                isTestInterchange: true
                                overwriteExistingTransactionSetControlNumber: true
                                processingPriorityCode: "0"
                                receiverInternalIdentification: "0"
                                receiverInternalSubIdentification: "0"
                                recipientReferencePasswordQualifier: ZZ
                                recipientReferencePasswordValue: AA
                                rolloverGroupControlNumber: true
                                rolloverInterchangeControlNumber: true
                                rolloverTransactionSetControlNumber: true
                                senderInternalIdentification: AA
                                senderInternalSubIdentification: AA
                                transactionSetControlNumberLowerBound: 1
                                transactionSetControlNumberPrefix: ""
                                transactionSetControlNumberSuffix: ""
                                transactionSetControlNumberUpperBound: 99999999
                              framingSettings:
                                characterEncoding: UTF
                                characterSet: UNOC
                                componentSeparator: 58
                                dataElementSeparator: 53
                                decimalPointIndicator: Comma
                                protocolVersion: 4
                                releaseIndicator: 63
                                repetitionSeparator: 42
                                segmentTerminator: 39
                                segmentTerminatorSuffix: None
                              messageFilter:
                                messageFilterType: Exclude
                              processingSettings:
                                createEmptyXmlTagsForTrailingSeparators: true
                                maskSecurityInfo: true
                                preserveInterchange: true
                                suspendInterchangeOnError: true
                                useDotAsDecimalSeparator: true
                              schemaReferences: []
                              validationSettings:
                                allowLeadingAndTrailingSpacesAndZeroes: true
                                checkDuplicateGroupControlNumber: true
                                checkDuplicateInterchangeControlNumber: true
                                checkDuplicateTransactionSetControlNumber: true
                                interchangeControlNumberValidityDays: 30
                                trailingSeparatorPolicy: Optional
                                trimLeadingAndTrailingSpacesAndZeroes: true
                                validateCharacterSet: true
                                validateEDITypes: true
                                validateXSDTypes: true
                            receiverBusinessIdentity:
                              qualifier: ZZ
                              value: ZZ
                            senderBusinessIdentity:
                              qualifier: AA
                              value: AA
                          sendAgreement:
                            protocolSettings:
                              acknowledgementSettings:
                                acknowledgementControlNumberLowerBound: 1
                                acknowledgementControlNumberPrefix: CN
                                acknowledgementControlNumberSuffix: NUM
                                acknowledgementControlNumberUpperBound: 999999999
                                batchFunctionalAcknowledgements: true
                                batchTechnicalAcknowledgements: true
                                needFunctionalAcknowledgement: true
                                needLoopForValidMessages: true
                                needTechnicalAcknowledgement: true
                                rolloverAcknowledgementControlNumber: true
                                sendSynchronousAcknowledgement: true
                              envelopeSettings:
                                applicationReferenceId: "0"
                                applyDelimiterStringAdvice: true
                                communicationAgreementId: "0"
                                createGroupingSegments: true
                                enableDefaultGroupHeaders: true
                                functionalGroupId: "0"
                                groupApplicationPassword: "0"
                                groupApplicationReceiverId: "0"
                                groupApplicationReceiverQualifier: ZZ
                                groupApplicationSenderId: AA
                                groupApplicationSenderQualifier: ZZ
                                groupAssociationAssignedCode: "0"
                                groupControlNumberLowerBound: 1
                                groupControlNumberPrefix: ""
                                groupControlNumberSuffix: ""
                                groupControlNumberUpperBound: 999999999
                                groupControllingAgencyCode: "0"
                                groupMessageRelease: "0.0"
                                groupMessageVersion: "0.0"
                                interchangeControlNumberLowerBound: 1
                                interchangeControlNumberPrefix: CU
                                interchangeControlNumberSuffix: NUM
                                interchangeControlNumberUpperBound: 999999999
                                isTestInterchange: true
                                overwriteExistingTransactionSetControlNumber: true
                                processingPriorityCode: "0"
                                receiverInternalIdentification: "0"
                                receiverInternalSubIdentification: "0"
                                recipientReferencePasswordQualifier: ZZ
                                recipientReferencePasswordValue: AA
                                rolloverGroupControlNumber: true
                                rolloverInterchangeControlNumber: true
                                rolloverTransactionSetControlNumber: true
                                senderInternalIdentification: AA
                                senderInternalSubIdentification: AA
                                transactionSetControlNumberLowerBound: 1
                                transactionSetControlNumberPrefix: ""
                                transactionSetControlNumberSuffix: ""
                                transactionSetControlNumberUpperBound: 999999999
                              framingSettings:
                                characterEncoding: UTF
                                characterSet: UNOC
                                componentSeparator: 58
                                dataElementSeparator: 53
                                decimalPointIndicator: Comma
                                protocolVersion: 4
                                releaseIndicator: 63
                                repetitionSeparator: 42
                                segmentTerminator: 39
                                segmentTerminatorSuffix: None
                              messageFilter:
                                messageFilterType: Exclude
                              processingSettings:
                                createEmptyXmlTagsForTrailingSeparators: true
                                maskSecurityInfo: true
                                preserveInterchange: true
                                suspendInterchangeOnError: true
                                useDotAsDecimalSeparator: true
                              schemaReferences: []
                              validationSettings:
                                allowLeadingAndTrailingSpacesAndZeroes: true
                                checkDuplicateGroupControlNumber: true
                                checkDuplicateInterchangeControlNumber: true
                                checkDuplicateTransactionSetControlNumber: true
                                interchangeControlNumberValidityDays: 30
                                trailingSeparatorPolicy: Optional
                                trimLeadingAndTrailingSpacesAndZeroes: true
                                validateCharacterSet: true
                                validateEDITypes: true
                                validateXSDTypes: true
                            receiverBusinessIdentity:
                              qualifier: ZZ
                              value: ZZ
                            senderBusinessIdentity:
                              qualifier: AA
                              value: AA
                      createdTime: 2017-03-06T22:00:53.8205121Z
                      guestIdentity:
                        qualifier: AA
                        value: AA
                      guestPartner: GuestPartner
                      hostIdentity:
                        qualifier: ZZ
                        value: ZZ
                      hostPartner: HostPartner
                      metadata: {}
                    type: Microsoft.Logic/integrationAccounts/agreements
      x-ms-odata: "#/definitions/IntegrationAccountAgreementFilter"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/agreements/{agreementName}":
    delete:
      description: Deletes an integration account agreement.
      operationId: IntegrationAccountAgreements_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The integration account name.
          in: path
          name: integrationAccountName
          required: true
          type: string
        - description: The integration account agreement name.
          in: path
          name: agreementName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
        "204":
          description: No Content
      tags:
        - IntegrationAccountAgreements
      x-ms-examples:
        Delete an agreement:
          parameters:
            agreementName: testAgreement
            api-version: 2018-07-01-preview
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets an integration account agreement.
      operationId: IntegrationAccountAgreements_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The integration account name.
          in: path
          name: integrationAccountName
          required: true
          type: string
        - description: The integration account agreement name.
          in: path
          name: agreementName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/IntegrationAccountAgreement"
      tags:
        - IntegrationAccountAgreements
      x-ms-examples:
        Get agreement by name:
          parameters:
            agreementName: testAgreement
            api-version: 2018-07-01-preview
            integrationAccountName: testIntegrationAccount
            resourceGroupName: testResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/<IntegrationAccountName>/agreements/<IntegrationAccountAgreementName>
                name: <IntegrationAccountAgreementName>
                properties:
                  agreementType: AS2
                  changedTime: 2017-03-06T22:32:54.2945291Z
                  content:
                    aS2:
                      receiveAgreement:
                        protocolSettings:
                          acknowledgementConnectionSettings:
                            ignoreCertificateNameMismatch: true
                            keepHttpConnectionAlive: true
                            supportHttpStatusCodeContinue: true
                            unfoldHttpHeaders: true
                          envelopeSettings:
                            autogenerateFileName: true
                            fileNameTemplate: Test
                            messageContentType: text/plain
                            suspendMessageOnFileNameGenerationError: true
                            transmitFileNameInMimeHeader: true
                          errorSettings:
                            resendIfMDNNotReceived: true
                            suspendDuplicateMessage: true
                          mdnSettings:
                            dispositionNotificationTo: http://tempuri.org
                            mdnText: Sample
                            micHashingAlgorithm: SHA1
                            needMDN: true
                            receiptDeliveryUrl: http://tempuri.org
                            sendInboundMdnToMessageBox: true
                            sendMDNAsynchronously: true
                            signMDN: true
                            signOutboundMdnIfOptional: true
                          messageConnectionSettings:
                            ignoreCertificateNameMismatch: true
                            keepHttpConnectionAlive: true
                            supportHttpStatusCodeContinue: true
                            unfoldHttpHeaders: true
                          securitySettings:
                            enableNRRForInboundDecodedMessages: true
                            enableNRRForInboundEncodedMessages: true
                            enableNRRForInboundMDN: true
                            enableNRRForOutboundDecodedMessages: true
                            enableNRRForOutboundEncodedMessages: true
                            enableNRRForOutboundMDN: true
                            overrideGroupSigningCertificate: false
                          validationSettings:
                            checkCertificateRevocationListOnReceive: true
                            checkCertificateRevocationListOnSend: true
                            checkDuplicateMessage: true
                            compressMessage: true
                            encryptMessage: false
                            encryptionAlgorithm: AES128
                            interchangeDuplicatesValidityDays: 100
                            overrideMessageProperties: true
                            signMessage: false
                        receiverBusinessIdentity:
                          qualifier: ZZ
                          value: ZZ
                        senderBusinessIdentity:
                          qualifier: AA
                          value: AA
                      sendAgreement:
                        protocolSettings:
                          acknowledgementConnectionSettings:
                            ignoreCertificateNameMismatch: true
                            keepHttpConnectionAlive: true
                            supportHttpStatusCodeContinue: true
                            unfoldHttpHeaders: true
                          envelopeSettings:
                            autogenerateFileName: true
                            fileNameTemplate: Test
                            messageContentType: text/plain
                            suspendMessageOnFileNameGenerationError: true
                            transmitFileNameInMimeHeader: true
                          errorSettings:
                            resendIfMDNNotReceived: true
                            suspendDuplicateMessage: true
                          mdnSettings:
                            dispositionNotificationTo: http://tempuri.org
                            mdnText: Sample
                            micHashingAlgorithm: SHA1
                            needMDN: true
                            receiptDeliveryUrl: http://tempuri.org
                            sendInboundMdnToMessageBox: true
                            sendMDNAsynchronously: true
                            signMDN: true
                            signOutboundMdnIfOptional: true
                          messageConnectionSettings:
                            ignoreCertificateNameMismatch: true
                            keepHttpConnectionAlive: true
                            supportHttpStatusCodeContinue: true
                            unfoldHttpHeaders: true
                          securitySettings:
                            enableNRRForInboundDecodedMessages: true
                            enableNRRForInboundEncodedMessages: true
                            enableNRRForInboundMDN: true
                            enableNRRForOutboundDecodedMessages: true
                            enableNRRForOutboundEncodedMessages: true
                            enableNRRForOutboundMDN: true
                            overrideGroupSigningCertificate: false
                          validationSettings:
                            checkCertificateRevocationListOnReceive: true
                            checkCertificateRevocationListOnSend: true
                            checkDuplicateMessage: true
[...]
