swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: TrafficManagerManagementClient
  version: 2017-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/trafficmanager/resource-manager/Microsoft.Network/stable/2017-05-01/trafficmanager.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: trafficmanager
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.Network/checkTrafficManagerNameAvailability:
    post:
      description: Checks the availability of a Traffic Manager Relative DNS name.
      operationId: Profiles_CheckTrafficManagerRelativeDnsNameAvailability
      parameters:
        - description: The Traffic Manager name parameters supplied to the CheckTrafficManagerNameAvailability operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/CheckTrafficManagerRelativeDnsNameAvailabilityParameters"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: The Traffic Manager Name Availability.
          schema:
            $ref: "#/definitions/TrafficManagerNameAvailability"
        default:
          description: Default response. It will be deserialized as per the Error definition.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Profiles
      x-ms-examples:
        NameAvailabilityTest_NameAvailablePOST21:
          parameters:
            api-version: 2017-05-01
            parameters:
              name: azsmnet5403
              type: microsoft.network/trafficmanagerprofiles
          responses:
            "200":
              body:
                name: azsmnet5403
                nameAvailable: true
                type: Microsoft.Network/trafficManagerProfiles
        NameAvailabilityTest_NameNotAvailablePOST23:
          parameters:
            api-version: 2017-05-01
            parameters:
              name: azsmnet4696
              type: microsoft.network/trafficmanagerprofiles
          responses:
            "200":
              body:
                message: Domain name azsmnet4696.tmpreview.watmtest.azure-test.net already exists. Please choose a different DNS prefix.
                name: azsmnet4696
                nameAvailable: false
                reason: AlreadyExists
                type: Microsoft.Network/trafficManagerProfiles
  /providers/Microsoft.Network/trafficManagerGeographicHierarchies/default:
    get:
      description: Gets the default Geographic Hierarchy used by the Geographic traffic routing method.
      operationId: GeographicHierarchies_GetDefault
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: The default Geographic Hierarchy.
          schema:
            $ref: "#/definitions/TrafficManagerGeographicHierarchy"
        default:
          description: Default response. It will be deserialized as per the Error definition.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - GeographicHierarchies
      x-ms-examples:
        GeographicHierarchy-GET-default:
          parameters:
            api-version: 2017-05-01
          responses:
            "200":
              body:
                id: /providers/Microsoft.Network/trafficManagerGeographicHierarchies/default
                name: default
                properties:
                  geographicHierarchy:
                    code: WORLD
                    name: World
                    regions:
                      - code: GEO-ME
                        name: Middle East
                        regions:
                          - code: AE
                            name: United Arab Emirates
                            regions: []
                      - code: GEO-AP
                        name: Australia / Pacific
                        regions:
                          - code: AU
                            name: Australia
                            regions:
                              - code: AU-ACT
                                name: Australian Capital Territory
                                regions: []
                              - code: AU-NSW
                                name: New South Wales
                                regions: []
                          - code: CK
                            name: Cook Islands
                            regions: []
                type: Microsoft.Network/trafficManagerGeographicHierarchies
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/trafficmanagerprofiles":
    get:
      description: Lists all Traffic Manager profiles within a subscription.
      operationId: Profiles_ListBySubscription
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The list of Traffic Manager profiles.
          schema:
            $ref: "#/definitions/ProfileListResult"
        default:
          description: Default response. It will be deserialized as per the Error definition.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Profiles
      x-ms-examples:
        ListBySubscription:
          parameters:
            api-version: 2017-05-01
            subscriptionId: e68d4145-c9ae-4667-925d-c51c8d88ad73
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azsmnet1719/providers/Microsoft.Network/trafficManagerProfiles/azsmnet5183
                    location: global
                    name: azsmnet5183
                    properties:
                      dnsConfig:
                        fqdn: azsmnet4696.tmpreview.watmtest.azure-test.net
                        relativeName: azsmnet4696
                        ttl: 35
                      endpoints: []
                      monitorConfig:
                        intervalInSeconds: 30
                        path: /testpath.aspx
                        port: 80
                        profileMonitorStatus: Online
                        protocol: HTTP
                        timeoutInSeconds: 10
                        toleratedNumberOfFailures: 3
                      profileStatus: Enabled
                      trafficRoutingMethod: Performance
                    tags: {}
                    type: Microsoft.Network/trafficManagerProfiles
                  - id: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager5168/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager3440
                    location: global
                    name: azuresdkfornetautoresttrafficmanager3440
                    properties:
                      dnsConfig:
                        fqdn: azuresdkfornetautoresttrafficmanager3440.tmpreview.watmtest.azure-test.net
                        relativeName: azuresdkfornetautoresttrafficmanager3440
                        ttl: 35
                      endpoints:
                        - id: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager5168/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager3440/externalEndpoints/My external endpoint
                          name: My external endpoint
                          properties:
                            endpointLocation: North Europe
                            endpointMonitorStatus: Online
                            endpointStatus: Enabled
                            priority: 1
                            target: foobar.contoso.com
                            weight: 1
                          type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
                      monitorConfig:
                        intervalInSeconds: 30
                        path: /testpath.aspx
                        port: 80
                        profileMonitorStatus: Online
                        protocol: HTTP
                        timeoutInSeconds: 10
                        toleratedNumberOfFailures: 3
                      profileStatus: Enabled
                      trafficRoutingMethod: Performance
                    tags: {}
                    type: Microsoft.Network/trafficManagerProfiles
                  - id: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/onesdk9785/providers/Microsoft.Network/trafficManagerProfiles/onesdk8819
                    location: global
                    name: onesdk8819
                    properties:
                      dnsConfig:
                        fqdn: onesdk7242.tmpreview.watmtest.azure-test.net
                        relativeName: onesdk7242
                        ttl: 51
                      endpoints:
                        - id: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/onesdk9785/providers/Microsoft.Network/trafficManagerProfiles/onesdk8819/nestedEndpoints/MyNestedEndpoint
                          name: MyNestedEndpoint
                          properties:
                            endpointLocation: West Europe
                            endpointMonitorStatus: Stopped
                            endpointStatus: Enabled
                            minChildEndpoints: 1
                            priority: 1
                            target: onesdk4285.tmpreview.watmtest.azure-test.net
                            targetResourceId: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/onesdk9785/providers/Microsoft.Network/trafficManagerProfiles/onesdk1792
                            weight: 1
                          type: Microsoft.Network/trafficManagerProfiles/nestedEndpoints
                      monitorConfig:
                        intervalInSeconds: 30
                        path: /testparent.asp
                        port: 111
                        profileMonitorStatus: Online
                        protocol: HTTPS
                        timeoutInSeconds: 10
                        toleratedNumberOfFailures: 3
                      profileStatus: Enabled
                      trafficRoutingMethod: Performance
                    tags: {}
                    type: Microsoft.Network/trafficManagerProfiles
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles":
    get:
      description: Lists all Traffic Manager profiles within a resource group.
      operationId: Profiles_ListByResourceGroup
      parameters:
        - description: The name of the resource group containing the Traffic Manager profiles to be listed.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The list of Traffic Manager profiles.
          schema:
            $ref: "#/definitions/ProfileListResult"
        default:
          description: Default response. It will be deserialized as per the Error definition.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Profiles
      x-ms-examples:
        ListProfilesByResourceGroup:
          parameters:
            api-version: 2017-05-01
            resourceGroupName: azuresdkfornetautoresttrafficmanager3640
            subscriptionId: e68d4145-c9ae-4667-925d-c51c8d88ad73
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager3640/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager1005
                    location: global
                    name: azuresdkfornetautoresttrafficmanager1005
                    properties:
                      dnsConfig:
                        fqdn: azuresdkfornetautoresttrafficmanager1005.tmpreview.watmtest.azure-test.net
                        relativeName: azuresdkfornetautoresttrafficmanager1005
                        ttl: 35
                      endpoints:
                        - id: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager3640/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager1005/externalEndpoints/My external endpoint
                          name: My external endpoint
                          properties:
                            endpointLocation: North Europe
                            endpointMonitorStatus: CheckingEndpoint
                            endpointStatus: Enabled
                            priority: 1
                            target: foobar.contoso.com
                            weight: 1
                          type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
                      monitorConfig:
                        intervalInSeconds: 30
                        path: /testpath.aspx
                        port: 80
                        profileMonitorStatus: Online
                        protocol: HTTP
                        timeoutInSeconds: 10
                        toleratedNumberOfFailures: 3
                      profileStatus: Enabled
                      trafficRoutingMethod: Performance
                    tags: {}
                    type: Microsoft.Network/trafficManagerProfiles
                  - id: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager3640/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager959
                    location: global
                    name: azuresdkfornetautoresttrafficmanager959
                    properties:
                      dnsConfig:
                        fqdn: azuresdkfornetautoresttrafficmanager959.tmpreview.watmtest.azure-test.net
                        relativeName: azuresdkfornetautoresttrafficmanager959
                        ttl: 35
                      endpoints:
                        - id: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager3640/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager959/externalEndpoints/My external endpoint
                          name: My external endpoint
                          properties:
                            endpointLocation: North Europe
                            endpointMonitorStatus: Online
                            endpointStatus: Enabled
                            priority: 1
                            target: foobar.contoso.com
                            weight: 1
                          type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
                      monitorConfig:
                        intervalInSeconds: 30
                        path: /testpath.aspx
                        port: 80
                        profileMonitorStatus: Online
                        protocol: HTTP
                        timeoutInSeconds: 10
                        toleratedNumberOfFailures: 3
                      profileStatus: Enabled
                      trafficRoutingMethod: Performance
                    tags: {}
                    type: Microsoft.Network/trafficManagerProfiles
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles/{profileName}":
    delete:
      description: Deletes a Traffic Manager profile.
      operationId: Profiles_Delete
      parameters:
        - description: The name of the resource group containing the Traffic Manager profile to be deleted.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Traffic Manager profile to be deleted.
          in: path
          name: profileName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The Traffic Manager Profile was deleted successfully.
          schema:
            $ref: "#/definitions/DeleteOperationResult"
        "204":
          description: The profile does not exist. It could have been deleted on a previous request.
        default:
          description: Default response. It will be deserialized as per the Error definition.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Profiles
      x-ms-examples:
        Profile-DELETE:
          parameters:
            api-version: 2017-05-01
            profileName: azuresdkfornetautoresttrafficmanager3880
            resourceGroupName: azuresdkfornetautoresttrafficmanager1323
            subscriptionId: e68d4145-c9ae-4667-925d-c51c8d88ad73
          responses:
            "200":
              body: ""
            "204":
              body: ""
    get:
      description: Gets a Traffic Manager profile.
      operationId: Profiles_Get
      parameters:
        - description: The name of the resource group containing the Traffic Manager profile.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Traffic Manager profile.
          in: path
          name: profileName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The Traffic Manager profile.
          schema:
            $ref: "#/definitions/Profile"
        default:
          description: Default response. It will be deserialized as per the Error definition.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Profiles
      x-ms-examples:
        Profile-GET-WithEndpoints:
          parameters:
            api-version: 2017-05-01
            profileName: azuresdkfornetautoresttrafficmanager3880
            resourceGroupName: azuresdkfornetautoresttrafficmanager1323
            subscriptionId: e68d4145-c9ae-4667-925d-c51c8d88ad73
          responses:
            "200":
              body:
                id: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager1323/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager3880
                location: global
                name: azuresdkfornetautoresttrafficmanager3880
                properties:
                  dnsConfig:
                    fqdn: azuresdkfornetautoresttrafficmanager3880.tmpreview.watmtest.azure-test.net
                    relativeName: azuresdkfornetautoresttrafficmanager3880
                    ttl: 35
                  endpoints:
                    - id: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager1323/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager3880/externalEndpoints/My external endpoint
                      name: My external endpoint
                      properties:
                        endpointLocation: North Europe
                        endpointMonitorStatus: CheckingEndpoint
                        endpointStatus: Enabled
                        priority: 1
                        target: foobar.contoso.com
                        weight: 1
                      type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
                  monitorConfig:
                    intervalInSeconds: 30
                    path: /testpath.aspx
                    port: 80
                    profileMonitorStatus: CheckingEndpoints
                    protocol: HTTP
                    timeoutInSeconds: 10
                    toleratedNumberOfFailures: 3
                  profileStatus: Enabled
                  trafficRoutingMethod: Performance
                tags: {}
                type: Microsoft.Network/trafficManagerProfiles
    patch:
      description: Update a Traffic Manager profile.
      operationId: Profiles_Update
      parameters:
        - description: The name of the resource group containing the Traffic Manager profile.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Traffic Manager profile.
          in: path
          name: profileName
          required: true
          type: string
        - description: The Traffic Manager profile parameters supplied to the Update operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Profile"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The updated Traffic Manager profile.
          schema:
            $ref: "#/definitions/Profile"
        default:
          description: Default response. It will be deserialized as per the Error definition.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Profiles
      x-ms-examples:
        Profile-PATCH-MonitorConfig:
          parameters:
            api-version: 2017-05-01
            parameters:
              properties:
                monitorConfig:
                  intervalInSeconds: 30
                  path: /testpath.aspx
                  port: 80
                  protocol: HTTP
                  timeoutInSeconds: 6
                  toleratedNumberOfFailures: 4
            profileName: azuresdkfornetautoresttrafficmanager6192
            resourceGroupName: azuresdkfornetautoresttrafficmanager2583
            subscriptionId: e68d4145-c9ae-4667-925d-c51c8d88ad73
          responses:
            "200":
              body:
                id: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager2583/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager6192
                location: global
                name: azuresdkfornetautoresttrafficmanager6192
                properties:
                  dnsConfig:
                    fqdn: azuresdkfornetautoresttrafficmanager6192.tmpreview.watmtest.azure-test.net
                    relativeName: azuresdkfornetautoresttrafficmanager6192
                    ttl: 35
                  endpoints:
                    - id: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager2583/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager6192/externalEndpoints/My external endpoint
                      name: My external endpoint
                      properties:
                        endpointLocation: North Europe
                        endpointMonitorStatus: CheckingEndpoint
                        endpointStatus: Enabled
                        priority: 1
                        target: foobar.contoso.com
                        weight: 1
                      type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
                  monitorConfig:
                    intervalInSeconds: 30
                    path: /testpath.aspx
                    port: 80
                    profileMonitorStatus: CheckingEndpoints
                    protocol: HTTP
                    timeoutInSeconds: 6
                    toleratedNumberOfFailures: 4
                  profileStatus: Enabled
                  trafficRoutingMethod: Performance
                tags: {}
                type: Microsoft.Network/trafficManagerProfiles
    put:
      description: Create or update a Traffic Manager profile.
      operationId: Profiles_CreateOrUpdate
      parameters:
        - description: The name of the resource group containing the Traffic Manager profile.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Traffic Manager profile.
          in: path
          name: profileName
          required: true
          type: string
        - description: The Traffic Manager profile parameters supplied to the CreateOrUpdate operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Profile"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The created or updated Traffic Manager profile.
          schema:
            $ref: "#/definitions/Profile"
        "201":
          description: The created or updated Traffic Manager profile.
          schema:
            $ref: "#/definitions/Profile"
        default:
          description: Default response. It will be deserialized as per the Error definition.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Profiles
      x-ms-examples:
        Profile-PUT-NoEndpoints:
          parameters:
            api-version: 2017-05-01
            parameters:
              location: global
              properties:
                dnsConfig:
                  relativeName: azsmnet6386
                  ttl: 35
                monitorConfig:
                  path: /testpath.aspx
                  port: 80
                  protocol: HTTP
                profileStatus: Enabled
                trafficRoutingMethod: Performance
            profileName: azsmnet6386
            resourceGroupName: azuresdkfornetautoresttrafficmanager1421
            subscriptionId: e68d4145-c9ae-4667-925d-c51c8d88ad73
          responses:
            "200":
              body:
                id: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager1421/providers/Microsoft.Network/trafficManagerProfiles/azsmnet6386
                location: global
                name: azsmnet6386
                properties:
                  dnsConfig:
                    fqdn: azsmnet6386.tmpreview.watmtest.azure-test.net
                    relativeName: azsmnet6386
                    ttl: 35
                  endpoints: []
                  monitorConfig:
                    intervalInSeconds: 30
                    path: /testpath.aspx
                    port: 80
                    profileMonitorStatus: Inactive
                    protocol: HTTP
                    timeoutInSeconds: 10
                    toleratedNumberOfFailures: 3
                  profileStatus: Enabled
                  trafficRoutingMethod: Performance
                type: Microsoft.Network/trafficManagerProfiles
            "201":
              body:
                id: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager1421/providers/Microsoft.Network/trafficManagerProfiles/azsmnet6386
                location: global
                name: azsmnet6386
                properties:
                  dnsConfig:
                    fqdn: azsmnet6386.tmpreview.watmtest.azure-test.net
                    relativeName: azsmnet6386
                    ttl: 35
                  endpoints: []
                  monitorConfig:
                    intervalInSeconds: 30
                    path: /testpath.aspx
                    port: 80
                    profileMonitorStatus: Inactive
                    protocol: HTTP
                    timeoutInSeconds: 10
                    toleratedNumberOfFailures: 3
                  profileStatus: Enabled
                  trafficRoutingMethod: Performance
                type: Microsoft.Network/trafficManagerProfiles
        Profile-PUT-WithEndpoints:
          parameters:
            api-version: 2017-05-01
            parameters:
              location: global
              properties:
                dnsConfig:
                  relativeName: azuresdkfornetautoresttrafficmanager6192
                  ttl: 35
                endpoints:
                  - name: My external endpoint
                    properties:
                      endpointLocation: North Europe
                      endpointStatus: Enabled
                      target: foobar.contoso.com
                    type: Microsoft.network/TrafficManagerProfiles/ExternalEndpoints
                monitorConfig:
                  intervalInSeconds: 10
                  path: /testpath.aspx
                  port: 80
                  protocol: HTTP
                  timeoutInSeconds: 5
                  toleratedNumberOfFailures: 2
                profileStatus: Enabled
                trafficRoutingMethod: Performance
            profileName: azuresdkfornetautoresttrafficmanager6192
            resourceGroupName: azuresdkfornetautoresttrafficmanager2583
            subscriptionId: e68d4145-c9ae-4667-925d-c51c8d88ad73
          responses:
            "200":
              body:
                id: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager2583/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager6192
                location: global
                name: azuresdkfornetautoresttrafficmanager6192
                properties:
                  dnsConfig:
                    fqdn: azuresdkfornetautoresttrafficmanager6192.tmpreview.watmtest.azure-test.net
                    relativeName: azuresdkfornetautoresttrafficmanager6192
                    ttl: 35
                  endpoints:
                    - id: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager2583/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager6192/externalEndpoints/My external endpoint
                      name: My external endpoint
                      properties:
                        endpointLocation: North Europe
                        endpointMonitorStatus: CheckingEndpoint
                        endpointStatus: Enabled
                        priority: 1
                        target: foobar.contoso.com
                        weight: 1
                      type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
                  monitorConfig:
                    intervalInSeconds: 10
                    path: /testpath.aspx
                    port: 80
                    profileMonitorStatus: CheckingEndpoints
                    protocol: HTTP
                    timeoutInSeconds: 5
                    toleratedNumberOfFailures: 2
                  profileStatus: Enabled
                  trafficRoutingMethod: Performance
                type: Microsoft.Network/trafficManagerProfiles
            "201":
              body:
                id: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager2583/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager6192
                location: global
                name: azuresdkfornetautoresttrafficmanager6192
                properties:
                  dnsConfig:
                    fqdn: azuresdkfornetautoresttrafficmanager6192.tmpreview.watmtest.azure-test.net
                    relativeName: azuresdkfornetautoresttrafficmanager6192
                    ttl: 35
                  endpoints:
                    - id: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager2583/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager6192/externalEndpoints/My external endpoint
                      name: My external endpoint
                      properties:
                        endpointLocation: North Europe
                        endpointMonitorStatus: CheckingEndpoint
                        endpointStatus: Enabled
                        priority: 1
                        target: foobar.contoso.com
                        weight: 1
                      type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
                  monitorConfig:
                    intervalInSeconds: 10
                    path: /testpath.aspx
                    port: 80
                    profileMonitorStatus: CheckingEndpoints
                    protocol: HTTP
                    timeoutInSeconds: 5
                    toleratedNumberOfFailures: 2
                  profileStatus: Enabled
                  trafficRoutingMethod: Performance
                type: Microsoft.Network/trafficManagerProfiles
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles/{profileName}/{endpointType}/{endpointName}":
    delete:
      description: Deletes a Traffic Manager endpoint.
      operationId: Endpoints_Delete
      parameters:
        - description: The name of the resource group containing the Traffic Manager endpoint to be deleted.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Traffic Manager profile.
          in: path
          name: profileName
          required: true
          type: string
        - description: The type of the Traffic Manager endpoint to be deleted.
          in: path
          name: endpointType
          required: true
          type: string
        - description: The name of the Traffic Manager endpoint to be deleted.
          in: path
          name: endpointName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The Traffic Manager Endpoint was deleted successfully.
          schema:
            $ref: "#/definitions/DeleteOperationResult"
        "204":
          description: The Traffic Manager Endpoint does not exist. It could have been deleted on a previous request.
        default:
          description: Default response. It will be deserialized as per the Error definition.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Endpoints
      x-ms-examples:
        Endpoint-DELETE-External:
          parameters:
            api-version: 2017-05-01
            endpointName: azsmnet7187
            endpointType: ExternalEndpoints
            profileName: azsmnet6386
            resourceGroupName: azuresdkfornetautoresttrafficmanager1421
            subscriptionId: e68d4145-c9ae-4667-925d-c51c8d88ad73
          responses:
            "200":
              body: ""
            "204":
              body: ""
    get:
      description: Gets a Traffic Manager endpoint.
      operationId: Endpoints_Get
      parameters:
        - description: The name of the resource group containing the Traffic Manager endpoint.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Traffic Manager profile.
          in: path
          name: profileName
          required: true
          type: string
        - description: The type of the Traffic Manager endpoint.
          in: path
          name: endpointType
          required: true
          type: string
        - description: The name of the Traffic Manager endpoint.
          in: path
          name: endpointName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The Traffic Manager endpoint.
          schema:
            $ref: "#/definitions/Endpoint"
        default:
          description: Default response. It will be deserialized as per the Error definition.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Endpoints
      x-ms-examples:
        Endpoint-GET-External-WithGeoMapping:
          parameters:
            api-version: 2017-05-01
            endpointName: My%20external%20endpoint
            endpointType: ExternalEndpoints
            profileName: azuresdkfornetautoresttrafficmanager8224
            resourceGroupName: azuresdkfornetautoresttrafficmanager2191
            subscriptionId: e68d4145-c9ae-4667-925d-c51c8d88ad73
          responses:
            "200":
              body:
                id: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager2191/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager8224/externalEndpoints/My external endpoint
                name: My external endpoint
                properties:
                  endpointMonitorStatus: CheckingEndpoint
                  endpointStatus: Enabled
                  geoMapping:
                    - GEO-AS
                    - GEO-AF
                  priority: 1
                  target: foobar.contoso.com
                  weight: 1
                type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
        Endpoint-GET-External-WithLocation:
          parameters:
            api-version: 2017-05-01
            endpointName: azsmnet7187
            endpointType: ExternalEndpoints
            profileName: azsmnet6386
            resourceGroupName: azuresdkfornetautoresttrafficmanager1421
            subscriptionId: e68d4145-c9ae-4667-925d-c51c8d88ad73
          responses:
            "200":
              body:
                id: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager1421/providers/Microsoft.Network/trafficManagerProfiles/azsmnet6386/externalEndpoints/azsmnet7187
                name: azsmnet7187
                properties:
                  endpointLocation: North Europe
                  endpointMonitorStatus: CheckingEndpoint
                  endpointStatus: Enabled
                  priority: 1
                  target: foobar.contoso.com
                  weight: 1
                type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
    patch:
      description: Update a Traffic Manager endpoint.
      operationId: Endpoints_Update
      parameters:
        - description: The name of the resource group containing the Traffic Manager endpoint to be updated.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Traffic Manager profile.
          in: path
          name: profileName
          required: true
          type: string
        - description: The type of the Traffic Manager endpoint to be updated.
          in: path
          name: endpointType
          required: true
          type: string
        - description: The name of the Traffic Manager endpoint to be updated.
          in: path
          name: endpointName
          required: true
          type: string
        - description: The Traffic Manager endpoint parameters supplied to the Update operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Endpoint"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The updated Traffic Manager endpoint.
          schema:
            $ref: "#/definitions/Endpoint"
        default:
          description: Default response. It will be deserialized as per the Error definition.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Endpoints
      x-ms-examples:
        Endpoint-PATCH-External-Target:
          parameters:
            api-version: 2017-05-01
            endpointName: azsmnet7187
            endpointType: ExternalEndpoints
            parameters:
              id: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager1421/providers/Microsoft.Network/trafficManagerProfiles/azsmnet6386/externalEndpoints/azsmnet7187
              name: azsmnet7187
              properties:
                target: another.foobar.contoso.com
              type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
            profileName: azsmnet6386
            resourceGroupName: azuresdkfornetautoresttrafficmanager1421
            subscriptionId: e68d4145-c9ae-4667-925d-c51c8d88ad73
          responses:
            "200":
              body:
                id: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager1421/providers/Microsoft.Network/trafficManagerProfiles/azsmnet6386/externalEndpoints/azsmnet7187
                name: azsmnet7187
                properties:
                  endpointLocation: North Europe
                  endpointMonitorStatus: CheckingEndpoint
                  endpointStatus: Enabled
                  priority: 1
                  target: another.foobar.contoso.com
                  weight: 1
                type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
    put:
      description: Create or update a Traffic Manager endpoint.
      operationId: Endpoints_CreateOrUpdate
      parameters:
        - description: The name of the resource group containing the Traffic Manager endpoint to be created or updated.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Traffic Manager profile.
          in: path
          name: profileName
          required: true
          type: string
        - description: The type of the Traffic Manager endpoint to be created or updated.
          in: path
          name: endpointType
          required: true
          type: string
        - description: The name of the Traffic Manager endpoint to be created or updated.
          in: path
          name: endpointName
          required: true
          type: string
        - description: The Traffic Manager endpoint parameters supplied to the CreateOrUpdate operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Endpoint"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The created or updated Endpoint.
          schema:
            $ref: "#/definitions/Endpoint"
        "201":
          description: The created or updated Endpoint.
          schema:
            $ref: "#/definitions/Endpoint"
        default:
          description: Default response. It will be deserialized as per the Error definition.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Endpoints
      x-ms-examples:
        Endpoint-PUT-External-WithGeoMapping:
          parameters:
            api-version: 2017-05-01
            endpointName: My%20external%20endpoint
            endpointType: ExternalEndpoints
            parameters:
              name: My external endpoint
              properties:
                endpointStatus: Enabled
                geoMapping:
                  - GEO-AS
                  - GEO-AF
                target: foobar.contoso.com
              type: Microsoft.network/TrafficManagerProfiles/ExternalEndpoints
            profileName: azuresdkfornetautoresttrafficmanager8224
            resourceGroupName: azuresdkfornetautoresttrafficmanager2191
            subscriptionId: e68d4145-c9ae-4667-925d-c51c8d88ad73
          responses:
            "200":
              body:
                id: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager2191/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager8224/externalEndpoints/My external endpoint
                name: My external endpoint
                properties:
                  endpointMonitorStatus: CheckingEndpoint
                  endpointStatus: Enabled
                  geoMapping:
                    - GEO-AS
                    - GEO-AF
                  priority: 1
                  target: foobar.contoso.com
                  weight: 1
                type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
            "201":
              body:
                id: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager2191/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager8224/externalEndpoints/My external endpoint
                name: My external endpoint
                properties:
                  endpointMonitorStatus: CheckingEndpoint
                  endpointStatus: Enabled
                  geoMapping:
                    - GEO-AS
                    - GEO-AF
                  priority: 1
                  target: foobar.contoso.com
                  weight: 1
                type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
        Endpoint-PUT-External-WithLocation:
          parameters:
            api-version: 2017-05-01
            endpointName: azsmnet7187
            endpointType: ExternalEndpoints
            parameters:
              name: azsmnet7187
              properties:
                endpointLocation: North Europe
                endpointStatus: Enabled
                target: foobar.contoso.com
              type: Microsoft.network/TrafficManagerProfiles/ExternalEndpoints
            profileName: azsmnet6386
            resourceGroupName: azuresdkfornetautoresttrafficmanager1421
            subscriptionId: e68d4145-c9ae-4667-925d-c51c8d88ad73
          responses:
            "200":
              body:
                id: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager1421/providers/Microsoft.Network/trafficManagerProfiles/azsmnet6386/externalEndpoints/azsmnet7187
                name: azsmnet7187
                properties:
                  endpointLocation: North Europe
                  endpointMonitorStatus: CheckingEndpoint
                  endpointStatus: Enabled
                  priority: 1
                  target: foobar.contoso.com
                  weight: 1
                type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
            "201":
              body:
                id: /subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager1421/providers/Microsoft.Network/trafficManagerProfiles/azsmnet6386/externalEndpoints/azsmnet7187
                name: azsmnet7187
                properties:
                  endpointLocation: North Europe
                  endpointMonitorStatus: CheckingEndpoint
                  endpointStatus: Enabled
                  priority: 1
                  target: foobar.contoso.com
                  weight: 1
                type: Microsoft.Network/trafficManagerProfiles/externalEndpoints
definitions:
  CheckTrafficManagerRelativeDnsNameAvailabilityParameters:
    description: Parameters supplied to check Traffic Manager name operation.
    properties:
      name:
        description: The name of the resource.
        type: string
      type:
        description: The type of the resource.
        type: string
  CloudError:
    description: An error returned by the Azure Resource Manager
    properties:
      error:
        $ref: "#/definitions/CloudErrorBody"
        description: The content of the error.
    type: object
    x-ms-external: true
  CloudErrorBody:
    description: The content of an error returned by the Azure Resource Manager
    properties:
      code:
        description: Error code
        type: string
      details:
        description: Error details
        items:
          $ref: "#/definitions/CloudErrorBody"
        type: array
      message:
        description: Error message
        type: string
      target:
        description: Error target
        type: string
    type: object
    x-ms-external: true
  DeleteOperationResult:
    description: The result of the request or operation.
    properties:
      boolean:
        description: The result of the operation or request.
        readOnly: true
        type: boolean
        x-ms-client-name: operationResult
  DnsConfig:
    description: Class containing DNS settings in a Traffic Manager profile.
    properties:
      fqdn:
        description: The fully-qualified domain name (FQDN) of the Traffic Manager profile. This is formed from the concatenation of the RelativeName with the DNS domain used by Azure Traffic Manager.
        readOnly: true
        type: string
      relativeName:
        description: The relative DNS name provided by this Traffic Manager profile. This value is combined with the DNS domain name used by Azure Traffic Manager to form the fully-qualified domain name (FQDN) of the profile.
        type: string
      ttl:
        description: The DNS Time-To-Live (TTL), in seconds. This informs the local DNS resolvers and DNS clients how long to cache DNS responses provided by this Traffic Manager profile.
        format: int64
        type: integer
  Endpoint:
    allOf:
      - $ref: "#/definitions/ProxyResource"
    description: Class representing a Traffic Manager endpoint.
    properties:
      properties:
        $ref: "#/definitions/EndpointProperties"
        description: The properties of the Traffic Manager endpoint.
        x-ms-client-flatten: true
  EndpointProperties:
    description: Class representing a Traffic Manager endpoint properties.
    properties:
      endpointLocation:
        description: Specifies the location of the external or nested endpoints when using the ‘Performance’ traffic routing method.
        type: string
      endpointMonitorStatus:
        description: The monitoring status of the endpoint.
        enum:
          - CheckingEndpoint
          - Online
          - Degraded
          - Disabled
          - Inactive
          - Stopped
        type: string
        x-ms-enum:
          modelAsString: true
          name: EndpointMonitorStatus
      endpointStatus:
        description: The status of the endpoint. If the endpoint is Enabled, it is probed for endpoint health and is included in the traffic routing method.
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: true
          name: EndpointStatus
      geoMapping:
        description: The list of countries/regions mapped to this endpoint when using the ‘Geographic’ traffic routing method. Please consult Traffic Manager Geographic documentation for a full list of accepted values.
        items:
          type: string
        type: array
      minChildEndpoints:
        description: The minimum number of endpoints that must be available in the child profile in order for the parent profile to be considered available. Only applicable to endpoint of type 'NestedEndpoints'.
        format: int64
        type: integer
      priority:
        description: The priority of this endpoint when using the ‘Priority’ traffic routing method. Possible values are from 1 to 1000, lower values represent higher priority. This is an optional parameter.  If specified, it must be specified on all endpoints, and no two endpoints can share the same priority value.
        format: int64
        type: integer
      target:
        description: The fully-qualified DNS name of the endpoint. Traffic Manager returns this value in DNS responses to direct traffic to this endpoint.
        type: string
      targetResourceId:
        description: The Azure Resource URI of the of the endpoint. Not applicable to endpoints of type 'ExternalEndpoints'.
        type: string
      weight:
        description: The weight of this endpoint when using the 'Weighted' traffic routing method. Possible values are from 1 to 1000.
        format: int64
        type: integer
  GeographicHierarchyProperties:
    description: Class representing the properties of the Geographic hierarchy used with the Geographic traffic routing method.
    properties:
      geographicHierarchy:
        $ref: "#/definitions/Region"
        description: The region at the root of the hierarchy from all the regions in the hierarchy can be retrieved.
  MonitorConfig:
    description: Class containing endpoint monitoring settings in a Traffic Manager profile.
    properties:
      intervalInSeconds:
        description: The monitor interval for endpoints in this profile. This is the interval at which Traffic Manager will check the health of each endpoint in this profile.
        format: int64
        type: integer
      path:
        description: The path relative to the endpoint domain name used to probe for endpoint health.
        type: string
      port:
        description: The TCP port used to probe for endpoint health.
        format: int64
        type: integer
      profileMonitorStatus:
        description: The profile-level monitoring status of the Traffic Manager profile.
        enum:
          - CheckingEndpoints
          - Online
          - Degraded
          - Disabled
          - Inactive
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProfileMonitorStatus
      protocol:
        description: The protocol (HTTP, HTTPS or TCP) used to probe for endpoint health.
        enum:
          - HTTP
          - HTTPS
          - TCP
        type: string
        x-ms-enum:
          modelAsString: true
          name: MonitorProtocol
      timeoutInSeconds:
        description: The monitor timeout for endpoints in this profile. This is the time that Traffic Manager allows endpoints in this profile to response to the health check.
        format: int64
        type: integer
      toleratedNumberOfFailures:
        description: The number of consecutive failed health check that Traffic Manager tolerates before declaring an endpoint in this profile Degraded after the next failed health check.
        format: int64
        type: integer
  Profile:
    allOf:
      - $ref: "#/definitions/TrackedResource"
    description: Class representing a Traffic Manager profile.
    properties:
      properties:
        $ref: "#/definitions/ProfileProperties"
        description: The properties of the Traffic Manager profile.
        x-ms-client-flatten: true
  ProfileListResult:
    description: The list Traffic Manager profiles operation response.
    properties:
      value:
        description: Gets the list of Traffic manager profiles.
        items:
          $ref: "#/definitions/Profile"
        type: array
  ProfileProperties:
    description: Class representing the Traffic Manager profile properties.
    properties:
      dnsConfig:
        $ref: "#/definitions/DnsConfig"
        description: The DNS settings of the Traffic Manager profile.
      endpoints:
        description: The list of endpoints in the Traffic Manager profile.
        items:
          $ref: "#/definitions/Endpoint"
        type: array
      monitorConfig:
        $ref: "#/definitions/MonitorConfig"
        description: The endpoint monitoring settings of the Traffic Manager profile.
      profileStatus:
        description: The status of the Traffic Manager profile.
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProfileStatus
      trafficRoutingMethod:
        description: The traffic routing method of the Traffic Manager profile.
        enum:
          - Performance
          - Priority
          - Weighted
          - Geographic
        type: string
        x-ms-enum:
          modelAsString: true
          name: TrafficRoutingMethod
  ProxyResource:
    allOf:
      - $ref: "#/definitions/Resource"
    description: The resource model definition for a ARM proxy resource. It will have everything other than required location and tags
  Region:
    description: Class representing a region in the Geographic hierarchy used with the Geographic traffic routing method.
    properties:
      code:
        description: The code of the region
        type: string
      name:
        description: The name of the region
        type: string
      regions:
        description: The list of Regions grouped under this Region in the Geographic Hierarchy.
        items:
          $ref: "#/definitions/Region"
        type: array
  Resource:
    description: The core properties of ARM resources
    properties:
      id:
        description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficManagerProfiles/{resourceName}
        readOnly: true
        type: string
      name:
        description: The name of the resource
        readOnly: true
        type: string
      type:
        description: The type of the resource. Ex- Microsoft.Network/trafficManagerProfiles.
        readOnly: true
        type: string
    x-ms-azure-resource: true
  TrackedResource:
    allOf:
      - $ref: "#/definitions/Resource"
    description: The resource model definition for a ARM tracked top level resource
    properties:
      location:
        description: The Azure Region where the resource lives
        type: string
        x-ms-mutability:
          - read
          - create
      tags:
        additionalProperties:
          type: string
        description: Resource tags.
        type: object
        x-ms-mutability:
          - read
          - create
          - update
  TrafficManagerGeographicHierarchy:
    allOf:
      - $ref: "#/definitions/ProxyResource"
    description: Class representing the Geographic hierarchy used with the Geographic traffic routing method.
    properties:
      properties:
        $ref: "#/definitions/GeographicHierarchyProperties"
        description: The properties of the Geographic Hierarchy resource.
        x-ms-client-flatten: true
  TrafficManagerNameAvailability:
    description: Class representing a Traffic Manager Name Availability response.
    properties:
      message:
        description: Descriptive message that explains why the name is not available, when applicable.
        type: string
      name:
        description: The relative name.
        type: string
      nameAvailable:
        description: Describes whether the relative name is available or not.
        type: boolean
      reason:
        description: The reason why the name is not available, when applicable.
        type: string
      type:
        description: Traffic Manager profile resource type.
        type: string
