swagger: "2.0"
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: Infrastructure role operation endpoints and objects.
  title: FabricAdminClient
  version: 2016-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/InfraRole.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-InfraRole
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Authorization uses an Azure Active Directory OAuth2 flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  InfraRoleParameter:
    description: Infrastructure role name.
    in: path
    name: infraRole
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoles":
    get:
      description: Returns a list of all infrastructure roles at a location.
      operationId: InfraRoles_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2016-05-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: OData filter parameter.
          in: query
          name: $filter
          type: string
          x-ms-parameter-location: method
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/InfraRoleList"
        "404":
          description: NOT FOUND
      tags:
        - InfraRoles
      x-ms-examples:
        Returns a list of all infrastructure roles at a location.:
          parameters:
            api-version: 2016-05-01
            location: local
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/ActiveDirectoryCertificateServices
                    location: local
                    name: ActiveDirectoryCertificateServices
                    properties:
                      displayName: Certificate management
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-CA01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/ActiveDirectoryDomainServices
                    location: local
                    name: ActiveDirectoryDomainServices
                    properties:
                      displayName: Directory management
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-DC01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/ActiveDirectoryFederationServices
                    location: local
                    name: ActiveDirectoryFederationServices
                    properties:
                      displayName: Active Directory Federation Services
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-ADFS01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/ApplicationGateway
                    location: local
                    name: ApplicationGateway
                    properties:
                      displayName: Partition request broker (Administrator)
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/AuthorizationServiceAdmin
                    location: local
                    name: AuthorizationServiceAdmin
                    properties:
                      displayName: Authorization service (Administrator)
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WAS01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/AuthorizationServiceUser
                    location: local
                    name: AuthorizationServiceUser
                    properties:
                      displayName: Authorization service (User)
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WASP01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/AzureBridge
                    location: local
                    name: AzureBridge
                    properties:
                      displayName: Azure bridge
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WAS01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/AzureConsistentStorageRing
                    location: local
                    name: AzureConsistentStorageRing
                    properties:
                      displayName: Storage services
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-ACS01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/AzureResourceManagerAdmin
                    location: local
                    name: AzureResourceManagerAdmin
                    properties:
                      displayName: Azure Resource Manager (Administrator)
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WAS01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/AzureResourceManagerUser
                    location: local
                    name: AzureResourceManagerUser
                    properties:
                      displayName: Azure Resource Manager (User)
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WASP01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/BackupController
                    location: local
                    name: BackupController
                    properties:
                      displayName: Backup controller
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-ERCS01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/BackupRestoreResourceProvider
                    location: local
                    name: BackupRestoreResourceProvider
                    properties:
                      displayName: Infrastructure backup
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/ComputeController
                    location: local
                    name: ComputeController
                    properties:
                      displayName: Compute controller
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/ComputeResourceProvider
                    location: local
                    name: ComputeResourceProvider
                    properties:
                      displayName: Compute
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/EnterpriseCloudEngine
                    location: local
                    name: EnterpriseCloudEngine
                    properties:
                      displayName: Infrastructure deployment
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-ERCS01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/FabricControllerRing
                    location: local
                    name: FabricControllerRing
                    properties:
                      displayName: Infrastructure management controller
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/FabricResourceProvider
                    location: local
                    name: FabricResourceProvider
                    properties:
                      displayName: Capacity
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/GalleryServiceAdmin
                    location: local
                    name: GalleryServiceAdmin
                    properties:
                      displayName: Gallery service (Administrator)
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WAS01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/GalleryServiceUser
                    location: local
                    name: GalleryServiceUser
                    properties:
                      displayName: Gallery service (User)
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WASP01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/HealthMonitoring
                    location: local
                    name: HealthMonitoring
                    properties:
                      displayName: Health controller
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/HealthResourceProvider
                    location: local
                    name: HealthResourceProvider
                    properties:
                      displayName: Region Management
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/InsightsServiceAdmin
                    location: local
                    name: InsightsServiceAdmin
                    properties:
                      displayName: Insights service (Administrator)
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WAS01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/InsightsServiceUser
                    location: local
                    name: InsightsServiceUser
                    properties:
                      displayName: Insights service (User)
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WASP01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/KeyVaultControlPlane
                    location: local
                    name: KeyVaultControlPlane
                    properties:
                      displayName: Key Vault controller (User)
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/KeyVaultDataPlane
                    location: local
                    name: KeyVaultDataPlane
                    properties:
                      displayName: Key Vault service (User)
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/KeyVaultInternalControlPlane
                    location: local
                    name: KeyVaultInternalControlPlane
                    properties:
                      displayName: Key Vault controller (Administrator)
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/KeyVaultInternalDataPlane
                    location: local
                    name: KeyVaultInternalDataPlane
                    properties:
                      displayName: Key Vault service (Administrator)
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/KeyVaultNamingService
                    location: local
                    name: KeyVaultNamingService
                    properties:
                      displayName: Key Vault name manager
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/KeyVaultResourceProvider
                    location: local
                    name: KeyVaultResourceProvider
                    properties:
                      displayName: Key Vault
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/MicrosoftSQLServer
                    location: local
                    name: MicrosoftSQLServer
                    properties:
                      displayName: Internal data store
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Sql01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/NetworkControllerRing
                    location: local
                    name: NetworkControllerRing
                    properties:
                      displayName: Network controller
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-NC01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/NetworkResourceProvider
                    location: local
                    name: NetworkResourceProvider
                    properties:
                      displayName: Network
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/NonPrivilegedApplicationGateway
                    location: local
                    name: NonPrivilegedApplicationGateway
                    properties:
                      displayName: Partition request broker (User)
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/PortalAdmin
                    location: local
                    name: PortalAdmin
                    properties:
                      displayName: Portal (Administrator)
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WAS01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/PortalUser
                    location: local
                    name: PortalUser
                    properties:
                      displayName: Portal (User)
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WASP01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/RASGateway
                    location: local
                    name: RASGateway
                    properties:
                      displayName: Edge gateway
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Gwy01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/SeedRing
                    location: local
                    name: SeedRing
                    properties:
                      displayName: Privileged endpoint
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-ERCS01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/ServicesController
                    location: local
                    name: ServicesController
                    properties:
                      displayName: Infrastructure role controller
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/SLBMultiplexer
                    location: local
                    name: SLBMultiplexer
                    properties:
                      displayName: Load balancer multiplexer
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-SLB01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/StorageController
                    location: local
                    name: StorageController
                    properties:
                      displayName: Storage controller
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/StorageResourceProvider
                    location: local
                    name: StorageResourceProvider
                    properties:
                      displayName: Storage
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/SubscriptionsServices
                    location: local
                    name: SubscriptionsServices
                    properties:
                      displayName: Subscriptions service
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WAS01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/UpdateResourceProvider
                    location: local
                    name: UpdateResourceProvider
                    properties:
                      displayName: Updates
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/UsageBridge
                    location: local
                    name: UsageBridge
                    properties:
                      displayName: Usage bridge
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/UsageBridgeHost
                    location: local
                    name: UsageBridgeHost
                    properties:
                      displayName: Usage Bridge host
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/UsageServiceAdmin
                    location: local
                    name: UsageServiceAdmin
                    properties:
                      displayName: Usage service (Administrator)
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WAS01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/UsageServiceUser
                    location: local
                    name: UsageServiceUser
                    properties:
                      displayName: Usage service (User)
                      instances:
                        - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WASP01
                      restartable: false
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
            "404": {}
      x-ms-odata: "#/definitions/InfraRole"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoles/{infraRole}":
    get:
      description: Returns the requested infrastructure role description.
      operationId: InfraRoles_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/InfraRoleParameter"
        - default: 2016-05-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/InfraRole"
        "404":
          description: NOT FOUND
      tags:
        - InfraRoles
      x-ms-examples:
        Returns the requested infrastructure role description.:
          parameters:
            api-version: 2016-05-01
            infraRole: Storage services
            location: local
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/UsageServiceUser
                location: local
                name: UsageServiceUser
                properties:
                  displayName: Usage service (User)
                  instances:
                    - subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WASP01
                  restartable: false
                tags: {}
                type: Microsoft.Fabric.Admin/fabricLocations/infraRoles
            "404": {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoles/{infraRole}/Restart":
    post:
      description: Restarts the requested infrastructure role.
      operationId: InfraRoles_Restart
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/InfraRoleParameter"
        - default: 2016-05-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
        "202":
          description: ACCEPTED
      tags:
        - InfraRole
      x-ms-examples:
        Restarts the requested infrastructure role.:
          parameters:
            api-version: 2016-05-01
            infraRole: BackupRestoreResourceProvider
            location: local
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
definitions:
  InfraRole:
    allOf:
      - description: Base resource object.
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: The region where the resource is located.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key-value pairs.
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
    description: Infrastructure role description.
    properties:
      properties:
        $ref: "#/definitions/InfraRoleModel"
        description: Infrastructure role properties.
        x-ms-client-flatten: true
    type: object
  InfraRoleList:
    description: Pageable list of infrastructure roles.
    properties:
      nextLink:
        description: URI to the next page.
        type: string
      value:
        description: List of infrastructure roles.
        items:
          $ref: "#/definitions/InfraRole"
        type: array
    type: object
  InfraRoleModel:
    description: Infrastructure role properties.
    properties:
      displayName:
        description: Display name for the infrastructure role.
        type: string
      instances:
        description: List of infrastructure role instances.
        items:
          type: string
        type: array
      restartable:
        description: Value indicating whether the infrastructure role can be restarted.
        type: boolean
    type: object
